<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<AllianceOffered>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Offer a faction to form an Alliance</Header>

    <Body>
        <SelectFactionComponent @bind-Value="target" Values="Game.ValidTargets(Player)" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />
    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;

    protected override AllianceOffered ConfirmedResult => new AllianceOffered(Game) { Initiator = Faction, Target = target };
}
