<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Audited>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Perform your audit</Header>
    <Body>

        <div>
            @foreach (var c in Game.AuditedCards)
            {
                <Image Shown=c Class="p-1" Width=100/>
            }
        </div>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Finish Audit" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Brown;

    protected override Audited ConfirmedResult => new Audited(Game) { Initiator = Faction };
}
