<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<AuditCancelled>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Do you wish to pay @Skin.Current.Describe(Faction.Brown) @AuditCancelled.Cost(Game) @Skin.Current.Describe(Concept.Resource) to cancel a scheduled audit of @AuditCancelled.GetNumberOfCardsThatMayBeAudited(Game) of your treachery cards?</Header>
    <Body>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Yes" ConfirmError=@Validation Pass="Pass" PassText="No" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    protected override AuditCancelled ConfirmedResult => new AuditCancelled(Game) { Initiator = Faction, Cancelled = true };

    protected override AuditCancelled PassedResult => new AuditCancelled(Game) { Initiator = Faction, Cancelled = false };
}