<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BattleConcluded>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Conclude the battle you just won</Header>

    <Body>

        @if (Faction == Game.BattleWinner)
        {
            var maxReplacementForces = BattleConcluded.ValidMaxReplacementForceAmount(Game, Player);
            if (maxReplacementForces > 0)
            {
                <label for="replacementAmount">How many @Skin.Current.SpecialForceName_STR[Faction.Grey] losses should be exchanged with surviving @Skin.Current.ForceName_STR[Faction.Grey]?</label>
                <SelectForcesComponent @bind-Value="replacementAmount" Min="0" Max="maxReplacementForces" Faction="Faction" Special="true" />
            }
            else
            {
                replacementAmount = 0;
            }

            var discardableMercenary = DiscardableMercenaryAfterBattle;
            var discardableWeapon = DiscardableWeaponAfterBattle;
            var discardableDefense = DiscardableDefenseAfterBattle;

            if (discardableMercenary != null || discardableWeapon != null || discardableDefense != null)
            {
                <div class="mt-2">Select any cards you wish to discard:</div>

                if (discardableMercenary != null)
                {
                    <CheckboxComponent @bind-Value="discardMercenary">@discardableMercenary.Name</CheckboxComponent>
                }

                if (discardableWeapon != null)
                {
                    <CheckboxComponent @bind-Value="discardWeapon">@discardableWeapon.Name</CheckboxComponent>
                }

                if (discardableDefense != null)
                {
                    <CheckboxComponent @bind-Value="discardDefense">@discardableDefense.Name</CheckboxComponent>
                }
            }

            if (BattleConcluded.MayCaptureOrKill(Game, Player))
            {
                <div>We captured <HeroComponent Game="Game" Value="Game.BlackVictim" />... What are your orders, keep or kill?</div>
                <RadioComponent @bind-Value="captureDecision"
                                Values="@BattleConcluded.ValidCaptureDecisions(Game, Player)"
                                ValueLabels="@BattleConcluded.ValidCaptureDecisions(Game, Player).Select(c => Skin.Current.Describe(c))" />
            }

            if (Loser.TechTokens.Count > 0)
            {
                <SelectFromImageComponent @bind-Value="stolenToken" Values="Loser.TechTokens" ImageURLs="Loser.TechTokens.Select(t => Skin.Current.GetImageURL(t))" PopupHTMLs="Loser.TechTokens.Select(t => Support.GetTechTokenHTML(t))">
                    <Label>Choose a tech token to steal</Label>
                </SelectFromImageComponent>
            }
            else {
                
                stolenToken = TechToken.None;
            }

            if (Game.TraitorsDeciphererCanLookAt.Any())
            {
                <SelectHeroComponent Game="Game" @bind-Value="selectedNewTraitor" Values="Game.TraitorsDeciphererCanLookAt" Required="false">
                    <Label>@Skin.Current.Describe(LeaderSkill.Decipherer) shows you the following traitors from the traitor deck:</Label>
                </SelectHeroComponent>

                @if (Game.DeciphererMayReplaceTraitor)
                {
                    <SelectHeroComponent Game="Game" @bind-Value="traitorToReplace" Values="BattleConcluded.ValidTraitorsToReplace(Game, Player)" Required="false">
                        <Label>If you wish, you may select one of the above traitors to reveal and replace one of your current traitors:</Label>
                    </SelectHeroComponent>
                }
                else
                {
                    traitorToReplace = null;
                }
            }
            else
            {
                selectedNewTraitor = null;
                traitorToReplace = null;
            }
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmLabel" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private CaptureDecision captureDecision = CaptureDecision.Kill;
    private bool discardMercenary;
    private bool discardWeapon;
    private bool discardDefense;
    private TechToken stolenToken;
    private int replacementAmount;
    private IHero selectedNewTraitor;
    private IHero traitorToReplace;

    protected override BattleConcluded ConfirmedResult => new BattleConcluded(Game) {
        Initiator = Faction,
        DiscardedCards = DetermineSelectedCards(),
        StolenToken = stolenToken,
        SpecialForceLossesReplaced = replacementAmount,
        DecisionToCapture = captureDecision,
        ReplacedTraitor = traitorToReplace,
        NewTraitor = selectedNewTraitor
    };

    private IEnumerable<TreacheryCard> DetermineSelectedCards()
    {
        var result = new List<TreacheryCard>();
        if (discardMercenary) result.Add(DiscardableMercenaryAfterBattle);
        if (discardWeapon) result.Add(DiscardableWeaponAfterBattle);
        if (discardDefense) result.Add(DiscardableDefenseAfterBattle);
        return result;
    }

    private void CaptureDecisionOnChange(ChangeEventArgs args)
    {
        captureDecision = Enum.Parse<CaptureDecision>((string)args.Value);
        StateHasChanged();
    }

    private TreacheryCard DiscardableMercenaryAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && action.Hero is TreacheryCard && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Hero))
            {
                return action.Hero as TreacheryCard;
            }
            else
            {
                return null;
            }
        }
    }

    private TreacheryCard DiscardableWeaponAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Weapon))
            {
                return action.Weapon;
            }
            else
            {
                return null;
            }
        }
    }

    private TreacheryCard DiscardableDefenseAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Defense))
            {
                return action.Defense;
            }
            else
            {
                return null;
            }
        }
    }

    private Battle MyBattleAction
    {
        get
        {
            if (Game.AggressorBattleAction != null)
            {
                return Game.AggressorBattleAction.Initiator == Faction ? Game.AggressorBattleAction : Game.DefenderBattleAction;
            }
            else
            {
                return null;
            }
        }
    }

    private Player Loser
    {
        get
        {
            return Game.GetPlayer(Game.BattleLoser);
        }
    }

    private string ConfirmLabel => traitorToReplace == null ? "Conclude Battle" : Skin.Current.Format("Conclude Battle and Reveal & Replace {0}", traitorToReplace);
}
