<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Battle>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed" TimedEvent=Game.LatestEvent(typeof(BattleInitiated))>

    <Header>
        Fighting <img class="img-fluid" src="@Skin.Current.GetImageURL(Opponent.Faction)" width=30 height=30/> in @Name(Game.CurrentBattle.Territory).
    </Header>

    <Body>

        <div class="mt-1">
            Opponent forces: 
            @if (Opponent.ForcesIn(Game.CurrentBattle.Territory) > 0)
            {
                <img class="img-fluid ms-1" src="@Skin.Current.GetFactionForceImageURL(Opponent.Faction)" width=30 height=30/><span>&nbsp;<strong>@Opponent.ForcesIn(Game.CurrentBattle.Territory)</strong></span>
            }
            @if (Opponent.SpecialForcesIn(Game.CurrentBattle.Territory) > 0)
            {
                <img class="img-fluid ms-1" src="@Skin.Current.GetFactionSpecialForceImageURL(Opponent.Faction)" width=30 height=30/>
                
                @if (Opponent.Faction != Faction.White) {

                    <span>&nbsp;<strong>@Opponent.SpecialForcesIn(Game.CurrentBattle.Territory)</strong></span>
                }
            }
        </div>

        @if (!Battle.ValidBattleHeroes(Game, Opponent).Any())
        {
            <div class="text-warning mt-1">Your opponent has no leaders available for this battle!</div>
        }

        <div class="text-warning mt-1">
            @if(h.IAm(Game.CurrentBattle.Aggressor)) {

                <span>You are aggressor.</span>
            }
            else
            {
                <span>Aggressor: </span><FactionComponent Faction=Opponent.Faction Diameter=30/>
            }
        </div>

        @if (Game.CurrentVoice != null)
        {
            @if (Faction == Faction.Blue || Player.Ally == Faction.Blue)
            {
                <div class="text-success mt-1">Your opponent @(Game.CurrentVoice.Must? "must use" : "may not use") @Skin.Current.Describe(Game.CurrentVoice.Type).</div>
            }
            else
            {
                <div class="text-warning mt-1">You @(Game.CurrentVoice.Must? "must use" : "may not use") @Skin.Current.Describe(Game.CurrentVoice.Type).</div>
            }
        }

        @if (Faction == Faction.Green || Player.Ally == Faction.Green)
        {
            var opponentBattlePlan = Game.CurrentBattle.Aggressor == Faction ? Game.DefenderBattleAction : Game.AggressorBattleAction;
            if (Game.GreenKarma)
            {
                if (opponentBattlePlan != null)
                {
                    <div class="text-success mt-1">Enemy @PrescienceAspect.Dial: @GetTextForAspect(PrescienceAspect.Dial, opponentBattlePlan).</div>
                    <Hoverable Class="text-success mt-0" Popover=@GetPopupForAspect(PrescienceAspect.Weapon, opponentBattlePlan)>Enemy @PrescienceAspect.Weapon: @GetTextForAspect(PrescienceAspect.Weapon, opponentBattlePlan).</Hoverable>
                    <Hoverable Class="text-success mt-0" Popover=@GetPopupForAspect(PrescienceAspect.Defense, opponentBattlePlan)>Enemy @PrescienceAspect.Defense: @GetTextForAspect(PrescienceAspect.Defense, opponentBattlePlan).</Hoverable>
                    <Hoverable Class="text-success mt-0" Popover=@GetPopupForAspect(PrescienceAspect.Leader, opponentBattlePlan) >Enemy @PrescienceAspect.Leader: @GetTextForAspect(PrescienceAspect.Leader, opponentBattlePlan).</Hoverable>
                }
                else
                {
                    <div class="text-success mt-1">Opponent battle plan will be visible as soon as they confirm it.</div>
                }
            }
            else if (Game.CurrentPrescience != null)
            {
                if (opponentBattlePlan != null)
                {
                    <Hoverable Class="text-success mt-1" Popover=@GetPopupForAspect(Game.CurrentPrescience.Aspect, opponentBattlePlan)>Enemy @Game.CurrentPrescience.Aspect: @GetTextForAspect(Game.CurrentPrescience.Aspect, opponentBattlePlan).</Hoverable>
                }
                else
                {
                    <div class="text-success mt-1">Opponent @Game.CurrentPrescience.Aspect will be visible as soon as they confirm their battle plan.</div>
                }
            }
        }

        <div class="mt-1">

            @if (Battle.MaxForces(Game, Player, false) > 0)
            {
                <SelectForcesComponent @bind-Value="forces" Min="0" Max="Battle.MaxForces(Game, Player, false)" Faction="Faction" Special="false"/> <span>&nbsp;</span>
            }
            else {
                
                forces = 0;
            }

            @if (Battle.MaxForces(Game, Player, true) > 0)
            {
                <SelectForcesComponent @bind-Value="specialForces" Min="0" Max="Battle.MaxForces(Game, Player, true)" Faction="Faction" Special="true"/> <span>&nbsp;</span>
            }
            else
            {
                specialForces = 0;
            }

            @if (forces + specialForces > 0 && Battle.MustPayForForcesInBattle(Game, Player))
            {
                int maxResources = Battle.MaxResources(Game, Player, forces, specialForces);
                int maxAllyResources = Battle.MaxAllyResources(Game, Player, forces, specialForces);
                int maxTotalResources = maxResources + maxAllyResources;

                <SelectResourcesComponent @bind-Value="resources" Min="0" Max=@maxTotalResources Title=@Skin.Current.Format("{0} used to support your forces", Concept.Resource)/> <span>&nbsp;</span>

                @if (Player.Ally == Faction.Brown && maxAllyResources > 0)
                {
                    <SelectResourcesFromFactionComponent @bind-Value="resourcesFromAlly" Min="0" Max=@maxAllyResources Faction="Player.Ally" Title=@Skin.Current.Format("{0} paid by your ally", Concept.Resource)/>
                }
                else
                {
                    resourcesFromAlly = 0;
                }
            }
            else
            {
                resources = 0;
                resourcesFromAlly = 0;
            }

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16" style="vertical-align: super">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>

            <NumberComponent Value="ConfirmedResult.Dial(Game, Game.CurrentBattle.OpponentOf(Faction).Faction)" NumberBackgroundFillColor="white" NumberBackgroundBorderColor="black" />

        </div>

        @if (Battle.ValidBattleHeroes(Game, Player).Any())
        {
            <SelectHeroComponent Game="Game" @bind-Value="hero" Values="Battle.ValidBattleHeroes(Game, Player)" Required="!Game.Applicable(Rule.BattleWithoutLeader)"/>
        }
        else
        {
            hero = null;
        }

        @if (Weapons.Any())
        {
            <SelectCardComponent @bind-Value="weapon" Values="Weapons" Required="false">
                <Label>Weapon</Label>
            </SelectCardComponent>
        }
        else
        {
            weapon = null;
        }

        @if (Defenses.Any())
        {
            <SelectCardComponent @bind-Value="defense" Values="Defenses" Required="false">
                <Label>Defense</Label>
            </SelectCardComponent>
        }
        else
        {
            defense = null;
        }
                
        @if (Player.MessiahAvailable && !Game.Prevented(FactionAdvantage.GreenUseMessiah))
        {
            <div class="mt-2">
                <RadioComponent @bind-Value="messiah" Values="@(new bool[] {false,true})" ValueLabels="@(new string[] {"No","Yes"})">
                    <Label>Should <img class="img-fluid" width="32" height="32" src="@Skin.Current.Messiah_URL" title="@Skin.Current.Describe(Concept.Messiah)" /> join the fight?</Label>
                </RadioComponent>
            </div>
        }
        else
        {
            messiah = false;
        }
        
        @if (Battle.MaxBankerBoost(Game, Player, hero) > 0)
        {
            <SelectResourcesComponent @bind-Value="bankerBoost" Min="0" Max="Battle.MaxBankerBoost(Game, Player, hero)" Label="@Skin.Current.Format("Boost {0} {1} with {2}?", Skin.Current.Describe(LeaderSkill.Banker), hero, Concept.Resource)"/>
        }
        else
        {
            bankerBoost = 0;
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Battle!" ConfirmError=@Validation />

        <div class="text-info small">Toggle <img src="@Skin.Current.Eye_URL" /> on the map to show/hide the battle wheel.</div>

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private const string NONE = "None";

    private int forces;
    private int specialForces;
    private int resources;
    private int resourcesFromAlly;
    private IHero hero;
    private bool messiah = false;
    private TreacheryCard defense;
    private TreacheryCard weapon;
    private int bankerBoost;

    protected override void OnInitialized()
    {
        h.ShowWheelsAndHMS = true;

        var plan = GetRevisablePlan();
        if (plan != null)
        {
            forces = plan.Forces + plan.ForcesAtHalfStrength;
            specialForces = plan.SpecialForces + plan.SpecialForcesAtHalfStrength;
            resources = plan.Cost(Game);
            resourcesFromAlly = plan.AllyContributionAmount;
            hero = plan.Hero;
            messiah = plan.Messiah;
            defense = plan.Defense;
            weapon = plan.Weapon;
            bankerBoost = plan.BankerBonus;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        RedrawIfNeeded(firstRender);
    }

    private int lastforces;
    private int lastspecialForces;
    private int lastResources;
    private int lastResourcesFromAlly;
    private IHero lasthero;
    private bool lastmessiah = false;
    private TreacheryCard lastdefense;
    private TreacheryCard lastweapon;
    private int lastbankerBoost;

    private void RedrawIfNeeded(bool firstRender)
    {
        if (
            firstRender ||
            forces != lastforces ||
            specialForces != lastspecialForces ||
            resources != lastResources ||
            resourcesFromAlly != lastResourcesFromAlly ||
            hero != lasthero ||
            messiah != lastmessiah ||
            defense != lastdefense ||
            weapon != lastweapon ||
            bankerBoost != lastbankerBoost)
        {
            lastforces = forces;
            lastspecialForces = specialForces;
            lastResources = resources;
            lastResourcesFromAlly = resourcesFromAlly;
            lasthero = hero;
            lastmessiah = messiah;
            lastdefense = defense;
            lastweapon = weapon;
            lastbankerBoost = bankerBoost;
            h.BattleUnderConstruction = ConfirmedResult;
            h.Refresh();
        }
    }

    protected override Battle ConfirmedResult
    {
        get
        {
            Battle.DetermineForces(Game, Player, forces, specialForces, resources, out int forcesFull, out int forcesHalf, out int specialForcesFull, out int specialForcesHalf);

            var result = new Battle(Game)
            {
                Initiator = Faction,
                Defense = defense,
                Forces = forcesFull,
                ForcesAtHalfStrength = forcesHalf,
                AllyContributionAmount = resourcesFromAlly,
                Hero = hero,
                Messiah = messiah,
                SpecialForces = specialForcesFull,
                SpecialForcesAtHalfStrength = specialForcesHalf,
                Weapon = weapon,
                BankerBonus = bankerBoost
            };

            SetRevisablePlan(result);

            return result;
        }
    }

    private Player Opponent => Game.CurrentBattle.OpponentOf(Faction);

    private string GetTextForAspect(PrescienceAspect aspect, Battle plan)
    {
        switch (aspect)
        {
            case PrescienceAspect.Defense: return plan.Defense == null ? "None" : Name(plan.Defense);
            case PrescienceAspect.Weapon: return plan.Weapon == null ? "None" : Name(plan.Weapon);
            case PrescienceAspect.Dial: return plan.Dial(Game, Faction).ToString();
            case PrescienceAspect.Leader: return plan.Hero == null ? "None" : Name(plan.Hero);
        }

        return "?";
    }

    private string GetPopupForAspect(PrescienceAspect aspect, Battle plan)
    {
        switch (aspect)
        {
            case PrescienceAspect.Defense: return plan.Defense == null ? "" : Popup.Get(plan.Defense);
            case PrescienceAspect.Weapon: return plan.Weapon == null ? "" : Popup.Get(plan.Weapon);
            case PrescienceAspect.Dial: return "";
            case PrescienceAspect.Leader: return plan.Hero == null ? "" : Popup.Get(plan.Hero, Game);
        }

        return "?";
    }

    private Battle _revisablePlan = null;
    private BattleInitiated _revisablePlanBattle = null;
    
    private void SetRevisablePlan(Battle plan)
    {
        _revisablePlan = plan;
        _revisablePlanBattle = Game.CurrentBattle;
    }

    private Battle GetRevisablePlan()
    {
        if (_revisablePlan != null && _revisablePlanBattle == Game.CurrentBattle)
        {
            return _revisablePlan;
        }
        else
        {
            return null;
        }
    }

    private IEnumerable<TreacheryCard> Weapons => Battle.ValidWeapons(Game, Player, defense, hero).OrderBy(c => Name(c));

    private IEnumerable<TreacheryCard> Defenses => Battle.ValidDefenses(Game, Player, weapon).OrderBy(c => Name(c));
}
