<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Battle>
@implements IDisposable

<div class="card p-1 mb-2 border-danger">
    <div class="card-header">Plan your battle against @Skin.Current.Describe(Opponent) in @h.Game.CurrentBattle.Territory.Name.</div>
    <div class="card-body">

        <div class="text-warning">@(h.IAm(h.Game.CurrentBattle.Aggressor) ? "You are aggressor." : Skin.Current.Format("Aggressor: {0}.", h.Game.CurrentBattle.Aggressor))</div>

        @if (h.Game.CurrentVoice != null)
        {
            @if (h.Faction == Faction.Blue || h.Player.Ally == Faction.Blue)
            {
                <div class="text-success">Your opponent @(h.Game.CurrentVoice.Must? "must use" : "may not use") @Skin.Current.Describe(h.Game.CurrentVoice.Type).</div>
            }
            else
            {
                <div class="text-warning">You @(h.Game.CurrentVoice.Must? "must use" : "may not use") @Skin.Current.Describe(h.Game.CurrentVoice.Type).</div>
            }
        }

        @if (h.Faction == Faction.Green || h.Player.Ally == Faction.Green)
        {
            var opponentBattlePlan = h.Game.CurrentBattle.Initiator == h.Faction ? h.Game.DefenderBattleAction : h.Game.AggressorBattleAction;
            if (h.Game.GreenKarma)
            {
                if (opponentBattlePlan != null)
                {
                    <div class="text-success">Enemy @PrescienceAspect.Dial: @GetTextForAspect(PrescienceAspect.Dial, opponentBattlePlan).</div>
                    <div class="text-success" data-animation="true" data-content="@GetPopupForAspect(PrescienceAspect.Weapon, opponentBattlePlan)" data-html="true" data-placement="top" data-trigger="hover" data-toggle="popover">Enemy @PrescienceAspect.Weapon: @GetTextForAspect(PrescienceAspect.Weapon, opponentBattlePlan).</div>
                    <div class="text-success" data-animation="true" data-content="@GetPopupForAspect(PrescienceAspect.Defense, opponentBattlePlan)" data-html="true" data-placement="top" data-trigger="hover" data-toggle="popover">Enemy @PrescienceAspect.Defense: @GetTextForAspect(PrescienceAspect.Defense, opponentBattlePlan).</div>
                    <div class="text-success" data-animation="true" data-content="@GetPopupForAspect(PrescienceAspect.Leader, opponentBattlePlan)" data-html="true" data-placement="top" data-trigger="hover" data-toggle="popover">Enemy @PrescienceAspect.Leader: @GetTextForAspect(PrescienceAspect.Leader, opponentBattlePlan).</div>
                }
                else
                {
                    <div class="text-success">Enemy battle plan will be visible as soon as they confirm it.</div>
                }
            }
            else if (h.Game.CurrentPrescience != null)
            {
                if (opponentBattlePlan != null)
                {

                    <div class="text-success" data-animation="true" data-content="@GetPopupForAspect(h.Game.CurrentPrescience.Aspect, opponentBattlePlan)" data-html="true" data-placement="top" data-trigger="hover" data-toggle="popover">Enemy @h.Game.CurrentPrescience.Aspect: @GetTextForAspect(h.Game.CurrentPrescience.Aspect, opponentBattlePlan).</div>
                }
                else
                {
                    <div class="text-success">Enemy @h.Game.CurrentPrescience.Aspect will be visible as soon as they confirm their battle plan.</div>
                }
            }
        }

        <NumberPickerComponent @bind-Value="forces" Min="0" Max="Battle.MaxForces(Game, Player, false)" SymbolSRC="@Skin.Current.GetFactionForceImageURL(Faction)" />

        @if (Battle.MaxForces(Game, Player, true) > 0)
        {
            <NumberPickerComponent @bind-Value="specialForces" Min="0" Max="Battle.MaxForces(Game, Player, true)" SymbolSRC="@Skin.Current.GetFactionSpecialForceImageURL(Faction)" />
        }

        @if (Battle.MustPayForForcesInBattle(h.Game, h.Player))
        {
            <NumberPickerComponent @bind-Value="resources" Min="0" Max="Math.Min(Player.Resources, forces + specialForces)" SymbolSRC="@Skin.Current.Harvester_URL" />
        }

        <SelectHeroComponent @bind-Value="hero" Values="Battle.ValidBattleHeroes(h.Game, h.Player)">
            <Label>Hero</Label>
        </SelectHeroComponent>

        <SelectCardComponent @bind-Value="weapon" Values="Weapons" Required="false">
            <Label>Weapon</Label>
        </SelectCardComponent>

        <SelectCardComponent @bind-Value="defense" Values="Defenses" Required="false">
            <Label>Defense</Label>
        </SelectCardComponent>

        @if (h.Faction == Faction.Green && h.Game.Applicable(Rule.GreenMessiah))
        {
            <div>Should the @Skin.Current.Describe(Concept.Messiah) join the fight?</div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" @onchange="OnChange" type="radio" id="battleKwisatzHaderachNo" value="false" checked="@(!messiah)">
                <label class="custom-control-label" for="battleKwisatzHaderachNo">No</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" @onchange="OnChange" type="radio" id="battleKwisatzHaderachYes" value="true" checked="@(messiah)">
                <label class="custom-control-label" for="battleKwisatzHaderachYes">Yes</label>
            </div>
        }

        <button class="btn btn-primary mt-1" @onclick="Confirm" disabled=@(!Valid)>Battle!</button>
        <div class="text-danger bg-dark">@validationError</div>

        <div class="text-info small">Toggle <img src="@Skin.Current.Eye_URL" /> on the map to show/hide the battle wheel.</div>

    </div>
</div>

@code {

    private const string NONE = "None";

    private int forces;
    private int specialForces;
    private int resources;
    private IHero hero;
    private bool messiah = false;
    private TreacheryCard defense;
    private TreacheryCard weapon;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        /*
        Initialize<int, int>(ref forces, Battle.ValidBattleForces(h.Game, h.Player));
        Initialize<int, int>(ref forcesAtHalfStrength, Battle.ValidBattleForces(h.Game, h.Player));
        Initialize<int, int>(ref specialForces, Battle.ValidBattleSpecialForces(h.Game, h.Player));
        Initialize<int, int>(ref specialForcesAtHalfStrength, Battle.ValidBattleSpecialForces(h.Game, h.Player));
        */
        //Initialize<IHero, IHero>(ref hero, Battle.ValidBattleHeroes(h.Game, h.Player));
        //var weap = Weapons.ToList();
        //Initialize<TreacheryCard, TreacheryCard>(ref weapon, weap, weap.Contains(null), null);
        //var defs = Defenses.ToList();
        //Initialize<TreacheryCard, TreacheryCard>(ref defense, defs, defs.Contains(null), null);
        await DrawIfNeeded();
    }

    private int lastforces;
    private int lastspecialForces;
    private int lastResources;
    private IHero lasthero;
    private bool lastmessiah = false;
    private TreacheryCard lastdefense;
    private TreacheryCard lastweapon;

    private async Task DrawIfNeeded()
    {
        if (
            forces != lastforces ||
            specialForces != lastspecialForces ||
            resources != lastResources ||
            hero != lasthero ||
            messiah != lastmessiah ||
            defense != lastdefense ||
            weapon != lastweapon)
        {
            lastforces = forces;
            lastspecialForces = specialForces;
            lastResources = resources;
            lasthero = hero;
            lastmessiah = messiah;
            lastdefense = defense;
            lastweapon = weapon;

            h._battleUnderConstruction = (Battle)ConfirmedResult;
            await MapDrawer.Draw();
        }
    }

    protected override void OnParametersSet()
    {
        if (h.RevisedPlan != null)
        {
            forces = h.RevisedPlan.Forces + h.RevisedPlan.ForcesAtHalfStrength;
            specialForces = h.RevisedPlan.SpecialForces + h.RevisedPlan.SpecialForcesAtHalfStrength;
            resources = h.RevisedPlan.Cost(Game);
            hero = h.RevisedPlan.Hero;
            messiah = h.RevisedPlan.Messiah;
            defense = h.RevisedPlan.Defense;
            weapon = h.RevisedPlan.Weapon;
            h.RevisedPlan = null;
        }
    }

    

    public void Dispose()
    {

    }

    protected override Battle ConfirmedResult
    {
        get
        {
            Battle.DetermineForces(Game, Player, forces, specialForces, resources, out int forcesFull, out int forcesHalf, out int specialForcesFull, out int specialForcesHalf);

            return new Battle(h.Game)
            {
                Initiator = h.Faction,
                Defense = defense,
                Forces = forcesFull,
                ForcesAtHalfStrength = forcesHalf,
                Hero = hero,
                Messiah = messiah,
                SpecialForces = specialForcesFull,
                SpecialForcesAtHalfStrength = specialForcesHalf,
                Weapon = weapon
            };
        }
    }

    private void OnChange(ChangeEventArgs args)
    {
        messiah = Convert.ToBoolean(args.Value);
        StateHasChanged();
    }

    private Faction Opponent
    {
        get
        {
            if (h.Game.CurrentBattle != null)
            {
                if (h.Game.CurrentBattle.Initiator == h.Faction)
                {
                    return h.Game.CurrentBattle.Target;
                }
                else
                {
                    return h.Game.CurrentBattle.Initiator;
                }
            }
            else
            {
                return Faction.None;
            }
        }
    }

    private int Cost
    {
        get
        {
            return Battle.Cost(h.Game, h.Player, forces, specialForces);
        }
    }

    private string ForcesHalfStrengthLabel
    {
        get
        {
            return Skin.Current.FormatCapitalized("{0} at half strength (not supported by {1})", h.Player.Force, Concept.Resource);
        }
    }

    private string SpecialForcesHalfStrengthLabel
    {
        get
        {
            return Skin.Current.FormatCapitalized("{0} at half strength", h.Player.SpecialForce);
        }
    }

    private string GetTextForAspect(PrescienceAspect aspect, Battle plan)
    {
        switch (aspect)
        {
            case PrescienceAspect.Defense: return plan.Defense == null ? "None" : Skin.Current.Describe(plan.Defense);
            case PrescienceAspect.Weapon: return plan.Weapon == null ? "None" : Skin.Current.Describe(plan.Weapon);
            case PrescienceAspect.Dial: return plan.Dial(h.Game, h.Faction).ToString();
            case PrescienceAspect.Leader: return plan.Hero == null ? "None" : Skin.Current.Describe(plan.Hero);
        }

        return "?";
    }

    private string GetPopupForAspect(PrescienceAspect aspect, Battle plan)
    {
        switch (aspect)
        {
            case PrescienceAspect.Defense: return plan.Defense == null ? "" : Support.GetTreacheryCardHoverHTML(plan.Defense);
            case PrescienceAspect.Weapon: return plan.Weapon == null ? "" : Support.GetTreacheryCardHoverHTML(plan.Weapon);
            case PrescienceAspect.Dial: return "";
            case PrescienceAspect.Leader: return plan.Hero == null ? "" : Support.GetHeroHoverHTML(plan.Hero);
        }

        return "?";
    }

    private IEnumerable<TreacheryCard> Weapons
    {
        get
        {
            return Battle.ValidWeapons(h.Game, h.Player, defense).OrderBy(c => c);
        }
    }

    private IEnumerable<TreacheryCard> Defenses
    {
        get
        {
            return Battle.ValidDefenses(h.Game, h.Player, weapon).OrderBy(c => c);
        }
    }
}
