<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BattleConcluded>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Conclude the battle you just won</Header>

    <Body>

        @if (Faction == Game.BattleWinner)
        {
            var maxReplacementForces = BattleConcluded.ValidMaxReplacementForceAmount(Game, Player);
            if (maxReplacementForces > 0)
            {
                <label for="replacementAmount">How many @Skin.Current.SpecialForceName_STR[Faction.Grey] losses should be exchanged with surviving @Skin.Current.ForceName_STR[Faction.Grey]?</label>
                <SelectForcesComponent @bind-Value="replacementAmount" Min="0" Max="maxReplacementForces" Faction="Faction" Special="true" />
            }
            else
            {
                replacementAmount = 0;
            }
                       
            if (BattleConcluded.MayChooseToDiscardCards(Game)) {

                var discardableMercenary = DiscardableMercenaryAfterBattle;
                var discardableWeapon = DiscardableWeaponAfterBattle;
                var discardableDefense = DiscardableDefenseAfterBattle;

                if (discardableMercenary != null || discardableWeapon != null || discardableDefense != null)
                {
                    <div class="mt-2">Select any cards you wish to discard:</div>

                    if (discardableMercenary != null)
                    {
                        <CheckboxComponent @bind-Value="discardMercenary">@Skin.Current.Describe(discardableMercenary)</CheckboxComponent>
                    }

                    if (discardableWeapon != null)
                    {
                        <CheckboxComponent @bind-Value="discardWeapon">@Skin.Current.Describe(discardableWeapon)</CheckboxComponent>
                    }

                    if (discardableDefense != null)
                    {
                        <CheckboxComponent @bind-Value="discardDefense">@Skin.Current.Describe(discardableDefense)</CheckboxComponent>
                    }
                }
            }

            if (BattleConcluded.MayCaptureOrKill(Game, Player))
            {
                <div>Our troops captured <Image Shown=@Game.BlackVictim Popover=@Popup.Get(Game.BlackVictim, Game) Class="img-float" Width=50/></div>
                <RadioComponent @bind-Value="captureDecision"
                        Values="@BattleConcluded.ValidCaptureDecisions(Game)"
                        ValueLabels="@BattleConcluded.ValidCaptureDecisions(Game).Select(c => Skin.Current.Describe(c))">
                        <Label>What are your orders, keep or kill?</Label>
                 </RadioComponent>
            }

            if (Loser.TechTokens.Count > 0)
            {
                <SelectFromImageComponent @bind-Value="stolenToken" Values="Loser.TechTokens" ImageURLs="Loser.TechTokens.Select(t => Skin.Current.GetImageURL(t))" PopupHTMLs="Loser.TechTokens.Select(t => Popup.Get(t))">

                    <Label>
                        @if (Loser.TechTokens.Count == 1) 
                        {
                            <span>You will steal the following tech token:</span>
                        }
                        else 
                        {
                            <span>Choose a tech token to steal:</span>
                        }
                    </Label>

                </SelectFromImageComponent>
            }
            else {
                
                stolenToken = TechToken.None;
            }

            if (Game.TraitorsDeciphererCanLookAt.Any())
            {
                <SelectHeroComponent Game="Game" @bind-Value="selectedNewTraitor" Values="Game.TraitorsDeciphererCanLookAt" Required="false">
                    <Label>@Skin.Current.Describe(LeaderSkill.Decipherer) shows you the following leaders from the traitor deck:</Label>
                </SelectHeroComponent>

                @if (Game.DeciphererMayReplaceTraitor)
                {
                    var toReplace = Faction == Faction.Purple ? "facedancers" : "traitors";

                    <SelectHeroComponent Game="Game" @bind-Value="traitorToReplace" Values="BattleConcluded.ValidTraitorsToReplace(Player)" Required="false">
                        <Label>If you wish, you may select one of the above leaders to reveal and replace one of your current @toReplace:</Label>
                    </SelectHeroComponent>
                }
                else
                {
                    traitorToReplace = null;
                }
            }
            else
            {
                selectedNewTraitor = null;
                traitorToReplace = null;
            }
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmLabel" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private CaptureDecision captureDecision = CaptureDecision.Kill;
    private bool discardMercenary;
    private bool discardWeapon;
    private bool discardDefense;
    private TechToken stolenToken;
    private int replacementAmount;
    private IHero selectedNewTraitor;
    private IHero traitorToReplace;

    protected override BattleConcluded ConfirmedResult => new BattleConcluded(Game) {

        Initiator = Faction,
        DiscardedCards = DetermineSelectedCards(),
        StolenToken = stolenToken,
        SpecialForceLossesReplaced = replacementAmount,
        DecisionToCapture = captureDecision,
        ReplacedTraitor = traitorToReplace,
        NewTraitor = selectedNewTraitor
    };

    private IEnumerable<TreacheryCard> DetermineSelectedCards()
    {
        var result = new List<TreacheryCard>();
        if (discardMercenary) result.Add(DiscardableMercenaryAfterBattle);
        if (discardWeapon) result.Add(DiscardableWeaponAfterBattle);
        if (discardDefense) result.Add(DiscardableDefenseAfterBattle);
        return result;
    }

    private void CaptureDecisionOnChange(ChangeEventArgs args)
    {
        captureDecision = Enum.Parse<CaptureDecision>((string)args.Value);
        StateHasChanged();
    }

    private TreacheryCard DiscardableMercenaryAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && action.Hero is TreacheryCard && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Hero))
            {
                return action.Hero as TreacheryCard;
            }
            else
            {
                return null;
            }
        }
    }

    private TreacheryCard DiscardableWeaponAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Weapon))
            {
                return action.Weapon;
            }
            else
            {
                return null;
            }
        }
    }

    private TreacheryCard DiscardableDefenseAfterBattle
    {
        get
        {
            var action = MyBattleAction;
            if (action != null && Game.BattleWinner == Faction && Player.TreacheryCards.Contains(action.Defense))
            {
                return action.Defense;
            }
            else
            {
                return null;
            }
        }
    }

    private Battle MyBattleAction
    {
        get
        {
            if (Game.AggressorBattleAction != null)
            {
                return Game.AggressorBattleAction.Initiator == Faction ? Game.AggressorBattleAction : Game.DefenderBattleAction;
            }
            else
            {
                return null;
            }
        }
    }

    private Player Loser
    {
        get
        {
            return Game.GetPlayer(Game.BattleLoser);
        }
    }

    private string ConfirmLabel => traitorToReplace == null ? "Conclude Battle" : Skin.Current.Format("Conclude Battle and Reveal & Replace {0}", traitorToReplace);
}
