<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Bid>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Bid or pass on the current card on auction</Header>
    <Body>

        @if (Karma.CanKarma(Game, Player))
        {
            <SelectCardComponent @bind-Value="karmaCard" Values="Karma.ValidKarmaCards(Game, Player)" Required="false">
                <Label>Use @Skin.Current.Describe(TreacheryCardType.Karma) to bid without limit or win immediately? <InfoComponent Contents="@InfoMessage" /></Label>
            </SelectCardComponent>
        }

        <div class="row">

            <NumberPickerComponent @bind-Value="amount" Min="0" Max="Bid.ValidMaxAmount(Player, karmaCard != null)" SymbolSRC="@Skin.Current.GetImageURL(Faction)" NumberAlignment="NumberPickerAlignment.BottomRight" BehindNumberSRC="@Skin.Current.Harvester_URL" NumberBackgroundBorderColor="#FF5400" />

            @if (Player.Ally != Faction.None)
            {
                <NumberPickerComponent @bind-Value="allyContributionAmount" Min="0" Max="Bid.ValidMaxAllyAmount(Game, Player)" SymbolSRC="@Skin.Current.GetImageURL(Player.Ally)" NumberAlignment="NumberPickerAlignment.BottomRight" BehindNumberSRC="@Skin.Current.Harvester_URL" NumberBackgroundBorderColor="#FF5400" />
            }

            @if (Game.SpiceForBidsRedCanPay(Faction) > 0)
            {
                <NumberPickerComponent @bind-Value="redContributionAmount" Min="0" Max="Game.SpiceForBidsRedCanPay(Faction)" SymbolSRC="@Skin.Current.GetImageURL(Faction.Red)" NumberAlignment="NumberPickerAlignment.BottomRight" BehindNumberSRC="@Skin.Current.Harvester_URL" NumberBackgroundBorderColor="#FF5400" />
            }

        </div>

        <div class="mt-1 mb-2">Your bid: <span class="badge badge-primary badge-pill">@(amount + allyContributionAmount + redContributionAmount)</span></div>

        @if (karmaCard != null)
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" Pass="Pass" PassText="Pass" Other="Other" OtherText="Win immediately" />
        }
        else
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" Pass="Pass" PassText="Pass" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private int amount;
    private int allyContributionAmount;
    private int redContributionAmount;
    private TreacheryCard karmaCard;

    private async Task Autopass()
    {
        if (Game.CurrentBid != null && Game.CurrentBid.TotalAmount + 1 > h.BidAutoPassThreshold ||
            Game.CurrentBid == null && h.BidAutoPassThreshold == 0)
        {
            await Pass();
        }
    }

    protected override void OnParametersSet()
    {
        int allyResources = Player.Ally == Faction.None ? 0 : Game.GetPermittedUseOfAllySpice(Faction);
        int playerResources = Player.Resources;
        int bidToDo = Game.CurrentBid != null ? Game.CurrentBid.TotalAmount + 1 : 1;
        allyContributionAmount = Math.Min(bidToDo, allyResources);
        amount = Math.Min(bidToDo - allyContributionAmount, playerResources);

        _ = Task.Delay(1000).ContinueWith(e => Autopass());
    }

    protected override Bid ConfirmedResult => new Bid(Game) { Initiator = Faction, Passed = false, Amount = amount, KarmaBid = false, KarmaCard = karmaCard, AllyContributionAmount = allyContributionAmount, RedContributionAmount = redContributionAmount };

    protected override Bid OtherResult => new Bid(Game) { Initiator = Faction, Passed = false, KarmaBid = true, KarmaCard = karmaCard };

    protected override Bid PassedResult => new Bid(Game) { Initiator = Faction, Passed = true, KarmaBid = false };

    private string InfoMessage => Skin.Current.Format("If you use a {0} card to bid any amount of {1} you wish, that card will be set aside until someone outbids you and will be discarded only if you win the auction. If you instead use your {0} card to win immediately, it is immediately discarded.", TreacheryCardType.Karma, Concept.Resource);
}
