<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BluePrediction>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Predict which faction will win the game.</Header>
    <Body>

        <SelectFactionComponent @bind-Value="toWin" Values="BluePrediction.ValidTargets(Game, Player)" />

        <SelectNumberComponent @bind-Value="turn" Min="1" Max="Game.MaximumNumberOfTurns" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm Prediction" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Blue;

    private int turn;
    private Faction toWin;

    protected override BluePrediction ConfirmedResult => new BluePrediction(Game) { Initiator = Faction, ToWin = toWin, Turn = turn };
}