<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BlueFlip>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Choose to be fighters or advisors in @(BlueFlip.GetTerritory(Game)).</Header>
    <Body>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Fighters" ConfirmError="@Validation" Other="Other" OtherText="Advisors"/>
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Blue;

    protected override BlueFlip ConfirmedResult => new BlueFlip(Game) { Initiator = Faction, AsAdvisors = false };

    protected override BlueFlip OtherResult => new BlueFlip(Game) { Initiator = Faction, AsAdvisors = true };
}
