<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BrownKarmaPrevention>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(BrownKarmaPrevention.CardToUse(Player)) to prevent a faction from playing @Skin.Current.Describe(TreacheryCardType.Karma) this phase?</Header>

    <Body>
        <SelectFactionComponent @bind-Value="target" Values="Game.PlayersOtherThan(Player)" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Prevent use of {0}", TreacheryCardType.Karma)" ConfirmError=@Validation />
    </Body>

</GameEventComponentLayout>

@code { 

    protected override Faction IsFactionSpecific => Faction.Brown;

    protected override string Background => Skin.Current.GetImageURL(BrownKarmaPrevention.CardToUse(Player));

    private Faction target;

    protected override BrownKarmaPrevention ConfirmedResult => new BrownKarmaPrevention(Game) { Initiator = Faction, Target = target };
}
