<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BrownEconomics>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Play Inflation?</Header>
    <Body>

        <RadioComponent @bind-Value="status" Values="new BrownEconomicsStatus[] { BrownEconomicsStatus.Double, BrownEconomicsStatus.Cancel }"/>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm Inflation" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Brown;

    private BrownEconomicsStatus status = BrownEconomicsStatus.Double;

    protected override BrownEconomics ConfirmedResult => new BrownEconomics(Game) { Initiator = Faction, Status = status };
}
