@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<BrownKarmaPrevention>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Use @ToUse to prevent a faction from playing @Skin.Current.Describe(TreacheryCardType.Karma) this phase?</Header>

    <Body>
        <SelectFromImageComponent @bind-Value="target" Values="Game.PlayersOtherThan(Player)" Required="true" ImageWidth="40" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Prevent use of {0}", TreacheryCardType.Karma)" ConfirmError="@Validation" />
    </Body>

</GameEventComponentLayout>

@code { 

    protected override Faction IsFactionSpecific => Faction.Brown;

    protected override string Background => Skin.Current.GetImageURL(BrownKarmaPrevention.CardToUse(Player));

    private Faction target;

    protected override BrownKarmaPrevention ConfirmedResult => new(Game, Faction) { Target = target };

    private string ToUse => BrownKarmaPrevention.CardToUse(Player) != null ? Skin.Current.Describe(BrownKarmaPrevention.CardToUse(Player)) : "Nexus Cunning";
}
