<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<BrownMovePrevention>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(BrownMovePrevention.CardToUse(Player)) to prevent the current player from moving forces into a territory you occupy?</Header>

    <Body>

        <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="territory" Values="BrownMovePrevention.ValidTerritories(Player)">
            <Label>Territory</Label>
        </SelectComponent>
        
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Prevent Move" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Brown;

    protected override string Background => Skin.Current.GetImageURL(BrownMovePrevention.CardToUse(Player));

    private Territory territory;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
        }
    }

     private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid<Territory, Territory>(ref territory, BrownMovePrevention.ValidTerritories(Player), l.Territory);
    }

    protected override BrownMovePrevention ConfirmedResult => new BrownMovePrevention(Game) { Initiator = Faction, Territory = territory };

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
    }
}
