<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits PlacementComponent<Caravan>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Perform a @Skin.Current.Describe(TreacheryCardType.Caravan)?</Header>
    <Body>

        @if (ValidSources.Any())
        {
            <SelectComponent ButtonHint="ClickHintButton.LMB" ModifierHint="ClickHintModifier.CTRL" Value="fromTerritory" Values="ValidSources">
                <Label>From</Label>
            </SelectComponent>

            <ForceSelectionComponent h="h" Forces="forces" Locations="Player.LocationsWithAnyForcesInTerritory(fromTerritory)"/>

            <SelectComponent ButtonHint="ClickHintButton.LMB" Value="toLocation" Values="ValidTargets">
                <Label>To</Label>
            </SelectComponent>

            @if (Game.ContainsConflictingAlly(Player, toLocation))
            {
                <div class="text-danger bg-dark">Note: any of your forces there at the end of your move turn will be destroyed due to ally presence!</div>
            }

            @if (Faction == Faction.Blue)
            {
                <div>Move as fighters or advisors?</div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" @onchange="AsAdvisorsOnChange" type="radio" id="caravanAsAdvisorsNo" value="false" checked="@(!asAdvisors)">
                    <label class="custom-control-label" for="caravanAsAdvisorsNo">Fighters</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" @onchange="AsAdvisorsOnChange" type="radio" id="caravanAsAdvisorsYes" value="true" checked="@(asAdvisors)">
                    <label class="custom-control-label" for="caravanAsAdvisorsYes">Advisors</label>
                </div>
            }

            <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@validationError" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    override protected Caravan ConfirmedResult => new Caravan(Game) { Initiator = Faction, ForceLocations = forces, To = toLocation, AsAdvisors = asAdvisors, Passed = false };
}
