@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<ClairVoyanceAnswered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>@Client.CurrentSkin.Describe(Game.LatestClairvoyance.Initiator) questions you with @Client.CurrentSkin.Describe(TreacheryCardType.Clairvoyance)!</Header>
    <Body>

        <div class="font-italic bg-dark">@Game.LatestClairvoyance.GetQuestion().ToString(Client.CurrentSkin)</div>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Yes" ConfirmError="@Validation" Pass="Pass" PassText="No" Other="Other" OtherText="I can't answer that..." />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    protected override ClairVoyanceAnswered ConfirmedResult => new(Game, Faction) { Answer = ClairVoyanceAnswer.Yes };

    protected override ClairVoyanceAnswered PassedResult => new(Game, Faction) { Answer = ClairVoyanceAnswer.No };

    protected override ClairVoyanceAnswered OtherResult => new(Game, Faction) { Answer = ClairVoyanceAnswer.Unknown };
}