<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Diplomacy>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use Diplomacy?</Header>
    <Body>

        <SelectCardComponent @bind-Value="card" Values="Diplomacy.ValidCards(Game, Player)" Required="true"/>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Use Diplomacy" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override void OnParametersSet()
    {
        BackgroundImage = Skin.Current.GetImageURL(LeaderSkill.Diplomat);
    }

    protected override Diplomacy ConfirmedResult => new Diplomacy(Game) { Initiator = Faction, Card = card };
}
