@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<DiscoveryEntered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Enter a discovered stronghold?</Header>
    <Body>

        @if (DiscoveryEntered.ValidTargets(Game, Player).Count() > 1)
        {
            <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="toLocation" Values=@DiscoveryEntered.ValidTargets(Game, Player)>
                <Label>Which stronghold to enter?</Label>
            </SelectComponent>
        }
        else
        {
            toLocation = DiscoveryEntered.ValidTargets(Game, Player).FirstOrDefault();
            <div>Enter @Name(toLocation)?</div>
        }

        @if (toLocation != null)
        {
            <ForceSelectionComponent Game=Game Player=Player OnChanged="@StateHasChanged" Forces=@forces Locations=@DiscoveryEntered.ValidSources(Player, toLocation) />
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private Dictionary<Location, Battalion> forces = new();

    private DiscoveredLocation toLocation;

    protected override DiscoveryEntered ConfirmedResult => new(Game, Faction) { ForceLocations = forces, To = toLocation, Passed = false };

    protected override DiscoveryEntered PassedResult => new(Game, Faction) { Passed = true };
}
