<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<DiscardedSearched>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.SearchDiscarded)?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="DiscardedSearched.ValidCards(Game)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.SearchDiscarded)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {        
    
    protected override bool IsUrgent => true;

    private TreacheryCard card;

    protected override void OnInitialized()
    {
        BackgroundImage = GetImage(TreacheryCardType.SearchDiscarded);
    }

    protected override DiscardedSearched ConfirmedResult => new DiscardedSearched(Game, Faction) { Card = card };
}
