@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<DiscardedSearched>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Use @Client.CurrentSkin.Describe(TreacheryCardType.SearchDiscarded)?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="DiscardedSearched.ValidCards(Game)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Client.CurrentSkin.Format("Use {0}", TreacheryCardType.SearchDiscarded)" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {        
    
    protected override bool IsUrgent => true;

    private TreacheryCard card;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BackgroundImage = GetImage(TreacheryCardType.SearchDiscarded);
    }

    protected override DiscardedSearched ConfirmedResult => new(Game, Faction) { Card = card };
}
