<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<DiscardedTaken>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.TakeDiscarded)?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="DiscardedTaken.ValidCards(Game, Player)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.TakeDiscarded)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override void OnInitialized()
    {
        BackgroundImage = GetImage(TreacheryCardType.TakeDiscarded);
    }

    protected override DiscardedTaken ConfirmedResult => new DiscardedTaken(Game) { Initiator = Faction, Card = card };
}
