<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<DiscardedSearched>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(TreacheryCardType.SearchDiscarded)?</Header>
    <Body>

        <SelectCardComponent @bind-Value="card" Values="DiscardedSearched.ValidCards(Game)" Required="true" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.SearchDiscarded)" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {        
    
    protected override bool IsUrgent => true;

    private TreacheryCard card;

    protected override void OnInitialized()
    {
        BackgroundImage = Support.GetCardImage(TreacheryCardType.SearchDiscarded);
    }

    protected override DiscardedSearched ConfirmedResult => new DiscardedSearched(Game) { Initiator = Faction, Card = card };
}
