<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<DistransUsed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Distrans)?</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="target" Values="DistransUsed.ValidTargets(Game, Player)" Required=true ImageWidth="40" />

        <SelectFromImageComponent @bind-Value="card" Values="DistransUsed.ValidCards(Player)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.Distrans)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;
    private TreacheryCard card;

    protected override void OnInitialized()
    {
        BackgroundImage = GetImage(TreacheryCardType.Distrans);
    }

    protected override DistransUsed ConfirmedResult => new DistransUsed(Game) { Initiator = Faction, Target = target, Card = card };
}
