<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Donated>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Give @Skin.Current.Describe(Concept.Resource) to a faction</Header>
    <Body>

        <SelectFactionComponent @bind-Value="target" Values="Targets" />

        <div class="mt-1">
            <SelectResourcesComponent @bind-Value="resources" Min="MinAmount" Max="MaxAmount" />
        </div>

        @if (Game.Applicable(Rule.CardsCanBeTraded))
        {
            <div class="mt-1">
                <SelectCardComponent @bind-Value="card" Values="Player.TreacheryCards" Required="false" />
            </div>
        }
        else
        {
            card = null;
        }

        @if (h.IsHost)
        {
            <CheckboxComponent @bind-Value="fromBank">
                Host only: give from @Skin.Current.Describe(Concept.Resource) bank (you may select a negative amount to put that amount of @Skin.Current.Describe(Concept.Resource) from target faction in the bank)
            </CheckboxComponent>
        }
        else
        {
            fromBank = false;
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm Gift" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;
    private int resources;
    private TreacheryCard card;
    private bool fromBank;

    protected override Donated ConfirmedResult => new Donated(Game) { Initiator = Faction, Target = target, Resources = resources, Card = card, FromBank = fromBank };

    private IEnumerable<Faction> Targets
    {
        get
        {
            if (!fromBank)
            {
                return Donated.ValidTargets(Game, Player);
            }
            else
            {
                return Game.Players.Select(p => p.Faction);
            }
        }
    }

    private int MaxAmount => !fromBank ? Donated.MaxAmount(Game, Player) : 99;

    private int MinAmount => !fromBank ? Donated.MinAmount(Game, Player) : -99;
}
