<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FaceDancerReplaced>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Replace a Face Dancer?</Header>
    <Body>

        <SelectHeroComponent Game="Game" @bind-Value="dancer" Values="FaceDancerReplaced.ValidFaceDancers(Player)"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Replace Face Dancer" ConfirmError="@Validation" Pass="Pass" PassText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Purple;

    private IHero dancer;

    protected override FaceDancerReplaced ConfirmedResult => new FaceDancerReplaced(Game) { Initiator = Faction, Passed = false, SelectedDancer = dancer };

    protected override FaceDancerReplaced PassedResult => new FaceDancerReplaced(Game) { Initiator = Faction, Passed = true };
}