<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FaceDancerRevealed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Reveal a Face Dancer?</Header>
    <Body>

        @if (FaceDanced.MayCallFaceDancer(Game, Player))
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="Yes" ConfirmError=@Validation Pass="Pass" PassText="No" />
        }
        else
        {
            <ButtonRowComponent Pass="Pass" PassText="No" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Purple;

    protected override FaceDancerRevealed ConfirmedResult => new FaceDancerRevealed(Game) { Initiator = Faction, Passed = false };

    protected override FaceDancerRevealed PassedResult => new FaceDancerRevealed(Game) { Initiator = Faction, Passed = true };
}