<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FaceDancerReplaced>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Replace a Face Dancer?</Header>
    <Body>

        <SelectHeroComponent @bind-Value="dancer" Values="FaceDancerReplaced.ValidFaceDancers(h.Player)"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" Pass="Pass" PassText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    private IHero dancer;

    protected override void OnAfterRender(bool firstRender)
    {
        //Initialize(ref dancer, FaceDancerReplaced.ValidFaceDancers(h.Player));
    }

    protected override FaceDancerReplaced ConfirmedResult => new FaceDancerReplaced(h.Game) { Initiator = h.Faction, Passed = false, SelectedDancer = dancer };

    protected override FaceDancerReplaced PassedResult => new FaceDancerReplaced(h.Game) { Initiator = h.Faction, Passed = true };
}