@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<FactionTradeOffered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Offer to trade factions</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="target" Values="FactionTradeOffered.ValidTargets(Game, Player)" Required="true" ImageWidth="40"/>
        
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmText" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;

    protected override FactionTradeOffered ConfirmedResult => new(Game, Faction) { Target = target };

    private string ConfirmText => Game.Players.Any(p => p.Faction == target) ? Client.CurrentSkin.Format("Offer Trade with {0}", target) : Client.CurrentSkin.Format("Pick {0}", target);
}