<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FactionSelected>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Choose your faction. If you don't, it will be assigned at random.</Header>
    <Body>

        <SelectFactionComponent @bind-Value="faction" Values="FactionSelected.ValidFactions(Game)" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Choose Faction" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction faction;

    protected override FactionSelected ConfirmedResult => new FactionSelected(Game) { Initiator = Faction.None, InitiatorPlayerName = h.PlayerName, Faction = faction };
}
