<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<FactionTradeOffered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Offer to trade factions</Header>
    <Body>

        <SelectFactionComponent @bind-Value="target" Values="FactionTradeOffered.ValidTargets(Game, Player)"/>
        
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmText" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction target;

    protected override FactionTradeOffered ConfirmedResult => new FactionTradeOffered(Game) { Initiator = Faction, Target = target };

    private string ConfirmText => Game.Players.Any(p => p.Faction == target) ? Skin.Current.Format("Offer Trade with {0}", target) : Skin.Current.Format("Pick {0}", target);
}