@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<FlightUsed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Use @Client.CurrentSkin.Describe(TreacheryCardType.Flight) to be able to move 3 territories once OR move 2 different force groups?</Header>
    <Body>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Move 3 territories" ConfirmError="@Validation" Other="Other" OtherText="Move 2 different groups"/>
    </Body>

</GameEventComponentLayout>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        BackgroundImage = GetImage(TreacheryCardType.Flight);
    }

    protected override FlightUsed ConfirmedResult => new(Game, Faction) { MoveThreeTerritories = true };

    protected override FlightUsed OtherResult => new(Game, Faction) { MoveThreeTerritories = false };
}
