<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<GreyRemovedCardFromAuction>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Put one card on top or on the bottom of the Treachery Card deck</Header>
    <Body>
        <SelectCardComponent @bind-Value="card" Values="Game.CardsOnAuction.Items" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Put on top" ConfirmError=@Validation Pass="Other" PassText="Put at bottom" />
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Grey;

    private TreacheryCard card;

    protected override GreyRemovedCardFromAuction ConfirmedResult => new GreyRemovedCardFromAuction(Game) { Initiator = Faction, PutOnTop = true, Card = card };

    protected override GreyRemovedCardFromAuction OtherResult => new GreyRemovedCardFromAuction(Game) { Initiator = Faction, PutOnTop = false, Card = card };
}
