<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<GreySwappedCardOnBid>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Swap the next card on auction with a card from your hand? You can do this once per Bidding round.</Header>
    <Body>
        <SelectCardComponent @bind-Value="card" Values="Player.TreacheryCards" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Swap {0}", card)" ConfirmError=@Validation Pass="Pass" PassText="Pass" />
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Grey;

    private TreacheryCard card;

    protected override GreySwappedCardOnBid ConfirmedResult => new GreySwappedCardOnBid(Game) { Initiator = Faction, Passed = false, Card = card };

    protected override GreySwappedCardOnBid PassedResult => new GreySwappedCardOnBid(Game) { Initiator = Faction, Passed = true };
}
