<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaHandSwapInitiated>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Karma) to perform a Hand Swap</Header>
    <Body>

        <SelectFactionComponent @bind-Value="target" Values="Game.ValidTargets(Player)">
            <Label>Target</Label>
        </SelectFactionComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Initiate Swap" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Black;

    private Faction target;

    protected override KarmaHandSwapInitiated ConfirmedResult => new KarmaHandSwapInitiated(Game) { Initiator = Faction, Target = target };
}
