<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaFreeRevival>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Karma) to revive forces or a leader</Header>
    <Body>

        @if (KarmaFreeRevival.ValidMaxAmount(Player, false) > 0)
        {
            <SelectForcesComponent @bind-Value="amountOfForces" Min="0" Max="KarmaFreeRevival.ValidMaxAmount(Player, false)" Faction="Faction" Special="false" />
        }
        else
        {
            amountOfForces = 0;
        }

        @if (KarmaFreeRevival.ValidMaxAmount(Player, true) > 0)
        {
            <SelectForcesComponent @bind-Value="amountOfSpecialForces" Min="0" Max="KarmaFreeRevival.ValidMaxAmount(Player, true)" Faction="Faction" Special="true" />
        }
        else
        {
            amountOfSpecialForces = 0;
        }

        <SelectHeroComponent Game="Game" @bind-Value="hero" Values="Game.KilledHeroes(Player)" Required="false" />

        @if (hero != null && Revival.MayAssignSkill(Game, Player, hero))
        {
            <RadioComponent @bind-Value="assignSkill" Values="@(new bool[] {false,true})" ValueLabels="@(new string[] {"No","Yes"})">
                <Label>Do you wish to assign a skill to this leader?</Label>
            </RadioComponent>
        }
        else
        {
            assignSkill = false;
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.Karma)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Red;

    private int amountOfForces;
    private int amountOfSpecialForces;
    private IHero hero;
    private bool assignSkill;

    protected override KarmaFreeRevival ConfirmedResult => new KarmaFreeRevival(Game) { Initiator = Faction, AmountOfForces = amountOfForces, AmountOfSpecialForces = amountOfSpecialForces, Hero = hero, AssignSkill = assignSkill };
}
