<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaHandSwap>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Return @Game.KarmaHandSwapNumberOfCards cards to @Skin.Current.Describe(Game.KarmaHandSwapTarget)</Header>
    <Body>
        
        <SelectFromImageComponent Selected="selectedCards" Values="Player.TreacheryCards" T=TreacheryCard OnChanged=StateHasChanged ImageWidth="80" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Return Cards" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Black;

    private List<TreacheryCard> selectedCards = new List<TreacheryCard>();

    protected override KarmaHandSwap ConfirmedResult => new KarmaHandSwap(Game, Faction) { ReturnedCards = selectedCards };
}
