@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<KarmaRevivalPrevention>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Use @Client.CurrentSkin.Describe(TreacheryCardType.Karma) to prevent revival</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="target" Values="KarmaRevivalPrevention.GetValidTargets(Game, Player)" Required="true" ImageWidth="40">
            <Label>Target</Label>
        </SelectFromImageComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Prevent Revival" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Purple;

    private Faction target;

    protected override KarmaRevivalPrevention ConfirmedResult => new(Game, Faction) { Target = target };
}
