@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaHmsMovement>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Karma) to move the Hidden Mobile Stronghold?</Header>
    <Body>

        <p class="text-info">You have @Game.KarmaHmsMovesLeft move(s) left. </p>

        <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="target" Values="KarmaHmsMovement.ValidLocations(Game)">
            <Label>To</Label>
        </SelectComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.Karma)" ConfirmError=@Validation Pass="Pass" PassText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Grey;

    public Location target;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Client.OnLocationSelected += HandleLocationSelected;
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        Client.OnLocationSelected -= HandleLocationSelected;
    }

    protected override KarmaHmsMovement ConfirmedResult => new KarmaHmsMovement(Game, Faction) { Passed = false, Target = target };

    protected override KarmaHmsMovement PassedResult => new KarmaHmsMovement(Game, Faction) { Passed = true };

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid(ref target, Game.Map.Locations(false), l);
    }
}
