<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<KarmaHandSwap>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Return @Game.KarmaHandSwapNumberOfCards cards to @Skin.Current.Describe(Game.KarmaHandSwapTarget)</Header>
    <Body>
        <SelectCardComponent Selected="selectedCards" Values="Player.TreacheryCards" OnChanged="StateHasChanged"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />
    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Black;

    private List<TreacheryCard> selectedCards = new List<TreacheryCard>();

    protected override KarmaHandSwap ConfirmedResult => new KarmaHandSwap(Game) { Initiator = Faction, ReturnedCards = selectedCards };
}
