<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<LoserConcluded>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Please conclude the battle you lost</Header>

    <Body>

        @if (LoserConcluded.CardsLoserMayKeep(Game).Any())
        {
            <SelectCardComponent @bind-Value="_cardToKeep" Values=@LoserConcluded.CardsLoserMayKeep(Game) Required=false>
                <Label>You may select one card to keep:</Label>
            </SelectCardComponent>
        }
        else
        {
            _cardToKeep = null;
        }

        @if (LoserConcluded.CanAssassinate(Game, Player)) {

            var assassinated = LoserConcluded.TargetOfAssassination(Game, Player);

            <RadioComponent @bind-Value=_assassinate 
                Values=@(new bool[] {true, false}) 
                ValueLabels="@(new string[] {"Yes","No"})">
                <Label>
                    <div>Execute an assassination mission by revealing <Image Shown=@assassinated Popover=@Popup.Get(assassinated, Game) Class="img-float" Width=50 /> as your traitor?</div>
                </Label>
            </RadioComponent>
        }
        else {

            _assassinate = false;
        }

        @if (LoserConcluded.MayUseKarmaToForceKeptCards(Game, Player))
        {
            <RadioComponent @bind-Value="_karmaDecision"
                            Values=@DecisionValues
                            ValueLabels=@DecisionValueLabels>
                <Label>Use @Name(TreacheryCardType.Karma) to force your opponent to discard or keep any or all cards used in battle?</Label>
            </RadioComponent>

            @if (_karmaDecision == LoserConcluded.KARMA_KEEP || _karmaDecision == LoserConcluded.KARMA_DISCARD)
            {
                <SelectCardComponent Selected="_cardsToForceKeepOrDiscard" Values=@LoserConcluded.CardsThatMayBeKeptOrDiscarded(Game) OnChanged="e => StateHasChanged()" />
            }
            else
            {
                _cardsToForceKeepOrDiscard = new();
            }
        }
        else
        {
            _karmaDecision = LoserConcluded.KARMA_NO;
            _cardsToForceKeepOrDiscard = new();
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard _cardToKeep;

    private bool _assassinate;

    private int _karmaDecision = LoserConcluded.KARMA_NO;

    protected override LoserConcluded ConfirmedResult => new LoserConcluded(Game) { Initiator = Faction, KeptCard = _cardToKeep, Assassinate = _assassinate, KarmaForcedKeptCardDecision = _karmaDecision, ForcedKeptOrDiscardedCards = _cardsToForceKeepOrDiscard };

    private IEnumerable<int> DecisionValues => new int[] { LoserConcluded.KARMA_NO, LoserConcluded.KARMA_KEEP, LoserConcluded.KARMA_DISCARD };

    private IEnumerable<string> DecisionValueLabels => new string[] { "No", "Force keeping...", "Force discarding..." };

    private List<TreacheryCard> _cardsToForceKeepOrDiscard = new();
}
