<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@inherits PlacementComponent<Move>
@using Treachery.Client.GenericComponents;
@using Treachery.Shared

<div class="card p-1 mb-2 border-danger">
    <div class="card-header">Perform a Move?</div>
    <div class="card-body">

        @if (h.Player.Has(TreacheryCardType.Caravan))
        {
            <div class="text-info small">Note: if you want to perform a @Skin.Current.Describe(TreacheryCardType.Caravan) this turn, you need to do that before performing your regular move.</div>
        }

        @if (ValidSources.Any())
        {
            var locations = h.Player.LocationsWithAnyForcesInTerritory(h.Game.Map.TerritoryLookup.Find(fromTerritoryId)).ToList();

            <label for="moveFrom">From <kbd>ctrl+click</kbd></label>
            <select class="custom-select" @bind="fromTerritoryId" id="moveFrom">
                @foreach (var t in ValidSources)
                {
                    <option value="@t.Id">@t.Name</option>
                }
            </select>

            <table class="table table-striped table-sm m-0 w-auto">
                <thead>
                    <tr class="small">
                        @if (locations.Count > 1)
                        {
                            <td>Location</td>
                        }

                        <td colspan="3">@h.Player.ForceName</td>
                        @if (h.Player.HasSpecialForcesToMove)
                        {
                            <td colspan="3">@h.Player.SpecialForceName</td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in locations)
                    {
                        <tr class="small">
                            @if (locations.Count > 1)
                            {
                                <td>@l.Name</td>
                            }

                            @if (l.Sector != h.Game.SectorInStorm)
                            {
                                <td class="p-0"><button type="button" @onclick="(e => ForceAmountButton(l, -1, false))" disabled="@(Forces(l, false) == 0)" class="btn btn-primary btn-sm">-</button></td>
                                <td>@Forces(l, false)</td>
                                <td class="p-0"><button type="button" @onclick="(e => ForceAmountButton(l, 1, false))" disabled="@(Forces(l, false) == h.Player.ForcesIn(l))" class="btn btn-primary btn-sm">+</button></td>
                            }
                            else
                            {
                                <td colspan="3" class="font-italic text-danger">cannot move from storm</td>
                            }

                            @if (h.Player.HasSpecialForcesToMove)
                            {
                                @if (l.Sector != h.Game.SectorInStorm)
                                {
                                    <td class="p-0"><button type="button" @onclick="(e => ForceAmountButton(l, -1, true))" disabled="@(Forces(l, true) == 0)" class="btn btn-primary btn-sm">-</button></td>
                                    <td>@Forces(l, true)</td>
                                    <td class="p-0"><button type="button" @onclick="(e => ForceAmountButton(l, 1, true))" disabled="@(Forces(l, true) == h.Player.SpecialForcesIn(l))" class="btn btn-primary btn-sm">+</button></td>
                                }
                                else
                                {
                                    <td colspan="3" class="font-italic text-danger">cannot move from storm</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <label class="mt-2" for="moveTo">To <kbd>click</kbd></label>
            <select class="custom-select" @bind="toLocationId" id="moveTo">
                @foreach (var f in ValidTargets)
                {
                    <option value="@h.Game.Map.LocationLookup.GetId(f)">@f</option>
                }
            </select>

            @if (h.Game.ContainsConflictingAlly(h.Player, h.Game.Map.LocationLookup.Find(toLocationId)))
            {
                <div class="text-danger bg-dark">Note: any of your forces there at the end of your move turn will be destroyed due to ally presence!</div>
            }

            @if (h.Faction == Faction.Blue)
            {
                <div>Move as fighters or advisors?</div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" @onchange="AsAdvisorsOnChange" type="radio" id="moveAsAdvisorsNo" value="false" checked="@(!asAdvisors)">
                    <label class="custom-control-label" for="moveAsAdvisorsNo">Fighters</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" @onchange="AsAdvisorsOnChange" type="radio" id="moveAsAdvisorsYes" value="true" checked="@(asAdvisors)">
                    <label class="custom-control-label" for="moveAsAdvisorsYes">Advisors</label>
                </div>
            }

            <button class="btn btn-primary mt-1" @onclick="Confirm" disabled=@(!Valid)>Ok</button>
            <div class="text-danger bg-dark">@validationError</div>
        }

        <button class="btn btn-primary mt-1" @onclick="Pass">Pass</button>

    </div>
</div>

@code {

    override protected Move ConfirmedResult
    {
        get
        {
            return new Move(h.Game) { Initiator = h.Faction, ForceLocations = forces, To = h.Game.Map.LocationLookup.Find(toLocationId), AsAdvisors = asAdvisors, Passed = false };
        }
    }

    override protected Move PassedResult
    {
        get
        {
            return new Move(h.Game) { Initiator = h.Faction, Passed = true };
        }
    }
}
