<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<MulliganPerformed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Draw a new selection of four traitors?</Header>
    <Body>

        @if (MulliganPerformed.MayMulligan(Player))
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="Yes" ConfirmError="@Validation" Pass="Pass" PassText="No (proceed with current traitors)" />
        }
        else
        {
            <ButtonRowComponent Pass="Pass" PassText="No" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Black;

    protected override MulliganPerformed ConfirmedResult => new MulliganPerformed(Game) { Initiator = Faction, Passed = false };

    protected override MulliganPerformed PassedResult => new MulliganPerformed(Game) { Initiator = Faction, Passed = true };
}