<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PerformHmsPlacement>
@implements IDisposable

<div class="card p-1 mb-2 border-danger">
    <div class="card-header">
        Position the Hidden Mobile Stronghold.
    </div>
    <div class="card-body">

        <label for="hmsPlacementLocation">Territory <kbd>click</kbd></label>
        <select class="custom-select" @bind="@target" id="hmsPlacementLocation">
            @foreach (var f in PerformHmsPlacement.ValidLocations(Game, Player))
            {
                <option value="@f">@f.ToString()</option>
            }
        </select>

        <button class="btn btn-primary mt-1" @onclick="Confirm" disabled="@(!Valid)">Confirm</button>
        <div class="text-danger bg-dark">@validationError</div>
    </div>
</div>

@code {

    public string target = "";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            MapDrawer.OnLocationSelected += HandleLocationSelected;
        }

        Initialize<string, Location>(ref target, PerformHmsPlacement.ValidLocations(Game, Player));
    }

    public void Dispose()
    {
        MapDrawer.OnLocationSelected -= HandleLocationSelected;
    }

    protected override PerformHmsPlacement ConfirmedResult
    {
        get
        {
            return new PerformHmsPlacement(Game) { Initiator = Faction, Target = Game.Map.Get(target) };
        }
    }

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid<string, Location>(ref target, Game.Map.Locations, l);
    }
}
