<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PerformYellowSetup>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Distribute @(10 - forces.Sum(fl => fl.Value.AmountOfForces + fl.Value.AmountOfSpecialForces)) forces on @Skin.Current.Describe(Game.Map.SietchTabr), @Skin.Current.Describe(Game.Map.FalseWallSouth), and @Skin.Current.Describe(Game.Map.FalseWallWest).</Header>
    <Body>

        <ForceSelectionComponent Game=Game Player=Player OnChanged="@StateHasChanged" Forces="forces" Locations="ValidLocations" MaySelectFromStorm="true" AlwaysShowLocation="true" FullLocationName="true" FixedMaxForces="10" FixedMaxSpecialForces="@(Player.HasSpecialForces ? 10 : 0)" AllowMultipleTerritories="true" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError=@Validation />

        <div>You can use the planet map:</div>
        <div>Add @Skin.Current.Describe(Player.Force): <ClickHintComponent Button="ClickHintButton.LMB" /></div>
        <div>Remove @Skin.Current.Describe(Player.Force): <ClickHintComponent Button="ClickHintButton.LMB" Modifier="ClickHintModifier.SHIFT" /></div>

        @if (Player.HasSpecialForces)
        {
            <div>Add @Skin.Current.Describe(Player.SpecialForce): <ClickHintComponent Button="ClickHintButton.LMB" Modifier="ClickHintModifier.CTRL" /> </div>
            <div>Remove @Skin.Current.Describe(Player.SpecialForce): <ClickHintComponent Button="ClickHintButton.LMB" Modifier="ClickHintModifier.CTRL | ClickHintModifier.SHIFT" /></div>
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Yellow;

    private Dictionary<Location, Battalion> forces = new Dictionary<Location, Battalion>();

    protected override PerformYellowSetup ConfirmedResult => new PerformYellowSetup(Game, Faction) { ForceLocations = forces };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Client.OnLocationSelected += HandleAddForce;
            Client.OnLocationSelectedWithShift += HandleRemoveForce;

            if (Player.HasSpecialForces)
            {
                Client.OnLocationSelectedWithCtrlOrAlt += HandleAddSpecialForce;
                Client.OnLocationSelectedWithShiftAndWithCtrlOrAlt += HandleRemoveSpecialForce;
            }
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        Client.OnLocationSelected -= HandleAddForce;
        Client.OnLocationSelectedWithShift -= HandleRemoveForce;

        if (Player.HasSpecialForces)
        {
            Client.OnLocationSelectedWithCtrlOrAlt -= HandleAddSpecialForce;
            Client.OnLocationSelectedWithShiftAndWithCtrlOrAlt -= HandleRemoveSpecialForce;
        }
    }

    private void HandleAddForce(object sender, Location l)
    {
        if (ValidLocations.Contains(l))
        {
            ForceAmountButton(l, 1, false);
        }
    }

    private void HandleAddSpecialForce(object sender, Location l)
    {
        if (ValidLocations.Contains(l))
        {
            ForceAmountButton(l, 1, true);
        }
    }

    private void HandleRemoveForce(object sender, Location l)
    {
        if (ValidLocations.Contains(l))
        {
            ForceAmountButton(l, -1, false);
        }
    }

    private void HandleRemoveSpecialForce(object sender, Location l)
    {
        if (ValidLocations.Contains(l))
        {
            ForceAmountButton(l, -1, true);
        }
    }

    private IEnumerable<Location> ValidLocations
    {
        get
        {
            var result = new List<Location>();
            result.Add(Game.Map.SietchTabr);
            result.AddRange(Game.Map.FalseWallSouth.Locations);
            result.AddRange(Game.Map.FalseWallWest.Locations);
            return result;
        }
    }

    protected int Forces(Location l, bool special)
    {
        if (forces.ContainsKey(l))
        {
            if (special)
            {
                return forces[l].AmountOfSpecialForces;
            }
            else
            {
                return forces[l].AmountOfForces;
            }
        }
        else
        {
            return 0;
        }
    }

    protected void ForceAmountButton(Location location, int amount, bool specialForces)
    {
        if (forces.ContainsKey(location))
        {
            if (specialForces)
            {
                forces[location].ChangeSpecialForces(amount);
            }
            else
            {
                forces[location].ChangeForces(amount);
            }
        }
        else if (amount > 0)
        {
            if (specialForces)
            {
                forces.Add(location, new Battalion(Faction, 0, amount, location));
            }
            else
            {
                forces.Add(location, new Battalion(Faction, amount, 0, location));
            }
        }

        StateHasChanged();
    }
}
