<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PerformHmsMovement>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Move the Hidden Mobile Stronghold one territory, or pass</Header>
    <Body>

        <p class="text-info">You have @Game.HmsMovesLeft move(s) left. </p>

        <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="target" Values="PerformHmsMovement.ValidLocations(Game)">
            <Label>To</Label>
        </SelectComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Move" ConfirmError=@Validation Pass="Pass" PassText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    public Location target;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
    }

    protected override PerformHmsMovement ConfirmedResult => new PerformHmsMovement(Game) { Initiator = Faction, Passed = false, Target = target };

    protected override PerformHmsMovement PassedResult => new PerformHmsMovement(Game) { Initiator = Faction, Passed = true };

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid(ref target, Game.Map.Locations(), l);
    }
}
