<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PerformHmsPlacement>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Position the Hidden Mobile Stronghold</Header>
    <Body>

        <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="target" Values="PerformHmsPlacement.ValidLocations(Game, Player)">
            <Label>In</Label>
        </SelectComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError=@Validation/>

    </Body>

</GameEventComponentLayout>

@code {

    public Location target;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
    }

    protected override PerformHmsPlacement ConfirmedResult => new PerformHmsPlacement(Game) { Initiator = Faction, Target = target };

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid(ref target, PerformHmsPlacement.ValidLocations(Game, Player), l);
    }
}
