@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameEventComponent<Planetology>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" CollapsedType="GetType()">

    <Header>Use @Skin.Current.Describe(LeaderSkill.Planetologist) to move 1 extra territory or move two force groups to the same territory?</Header>
    <Body>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="1 extra territory" Other="Other" OtherText="2 force groups" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Planetology ConfirmedResult => new(Game, Faction) { AddOneToMovement = true };

    protected override Planetology OtherResult => new(Game, Faction) { AddOneToMovement = false };

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        BackgroundImage = Skin.Current.GetImageURL(LeaderSkill.Planetologist);
    }
}
