<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<PlayerReplaced>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Replace a player with a Bot (or vice versa)</Header>
    <Body>

        <SelectFactionComponent @bind-Value="toReplace" Values="PlayerReplaced.ValidTargets(Game)" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@ConfirmLabel" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private Faction toReplace;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Collapsed = true;
        }
    }

    protected override PlayerReplaced ConfirmedResult => new PlayerReplaced(Game) { Initiator = Faction, ToReplace = toReplace };

    private string ConfirmLabel => Game.GetPlayer(toReplace) != null && Game.GetPlayer(toReplace).IsBot ? "Replace by a human" : "Replace by a bot";
}