<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Prescience>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use Prescience</Header>
    <Body>

        <SelectComponent @bind-Value="aspect" Values="Prescience.ValidAspects">
            <Label>What should be foreseen?</Label>
        </SelectComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Green;

    private PrescienceAspect aspect;

    protected override void OnAfterRender(bool firstRender)
    {
        Initialize<PrescienceAspect, PrescienceAspect>(ref aspect, Prescience.ValidAspects);
    }

    protected override Prescience ConfirmedResult
    {
        get
        {
            return new Prescience(Game) { Initiator = Faction, Aspect = aspect };
        }
    }
}
