<!--
* Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<RaiseDeadPlayed>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.RaiseDead) to revive up to five forces or one leader for free</Header>
    <Body>

        @{
            var hasForcesToRevive = RaiseDeadPlayed.ValidMaxAmount(Game, Player, false) > 0;
            var hasSpecialForcesToRevive = RaiseDeadPlayed.ValidMaxAmount(Game, Player, true) > 0;
            var hasHeroesToRevive = RaiseDeadPlayed.ValidHeroes(Game, Player).Any();

            if (hasForcesToRevive)
            {
                <SelectForcesComponent @bind-Value="amountOfForces" Min="0" Max="RaiseDeadPlayed.ValidMaxAmount(Game, Player, false)" Faction="Faction" Special="false" />
            }
            else
            {
                amountOfForces = 0;
            }

            if (hasSpecialForcesToRevive)
            {
                <SelectForcesComponent @bind-Value="amountOfSpecialForces" Min="0" Max="RaiseDeadPlayed.ValidMaxAmount(Game, Player, true)" Faction="Faction" Special="true" />
            }
            else
            {
                amountOfSpecialForces = 0;
            }

            if (hasHeroesToRevive)
            {
                <SelectFromImageComponent Game="Game" @bind-Value="hero" Values="RaiseDeadPlayed.ValidHeroes(Game, Player)" Required="false" ImageWidth="80" />
            }

            if (hero != null && Revival.MayAssignSkill(Game, Player, hero))
            {
                <RadioComponent @bind-Value="assignSkill" Values="@(new bool[] {false,true})" ValueLabels="@(new string[] {"No","Yes"})">
                    <Label>Do you wish to assign a skill to this leader?</Label>
                </RadioComponent>
            }
            else
            {
                assignSkill = false;
            }

            if (RaiseDeadPlayed.MaySelectLocationForRevivedForces(Game, Player, amountOfSpecialForces))
            {
                <CheckboxComponent @bind-Value="reviveToLocation">Place revived @(Faction == Faction.Yellow ? Skin.Current.SpecialForceName_STR[Faction.Yellow] : Skin.Current.ForceName_STR[Faction.Purple]) on the planet?</CheckboxComponent>

                if (reviveToLocation)
                {
                    <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="location" Values=@Revival.ValidRevivedForceLocations(Game, Player)>
                        <Label>Place them where?</Label>
                    </SelectComponent>
                }
                else
                {
                    location = null;
                }
            }
            else
            {
                location = null;
            }

            if (!(hasForcesToRevive || hasSpecialForcesToRevive || hasHeroesToRevive))
            {
                <div class="text-info small">You currently have nothing to revive</div>
            }
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.RaiseDead)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private int amountOfForces;
    private int amountOfSpecialForces;
    private IHero hero;
    private bool assignSkill;
    private bool reviveToLocation;
    private Location location;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
    }

    protected override RaiseDeadPlayed ConfirmedResult => new RaiseDeadPlayed(Game) { 
        Initiator = Faction, 
        AmountOfForces = amountOfForces, 
        AmountOfSpecialForces = amountOfSpecialForces, 
        Hero = hero, 
        AssignSkill = assignSkill,
        Location = location
    };

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid<Location, Location>(ref location, Revival.ValidRevivedForceLocations(Game, Player), l);
    }
}
