<!--
* Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<RequestPurpleRevival>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Request @Skin.Current.Describe(Faction.Purple) Revival of one of your leaders?</Header>
    <Body>

        <SelectHeroComponent Game="Game" @bind-Value="hero" Values="RequestPurpleRevival.ValidTargets(Game, Player)" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Request" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {
    
    protected override Faction IsFactionSpecific => Faction.Purple;

    private IHero hero;

    protected override RequestPurpleRevival ConfirmedResult => new RequestPurpleRevival(Game) { Initiator = Faction, Hero = hero };
}