<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<RockWasMelted>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Use @Skin.Current.Describe(TreacheryCardType.Rockmelter) to kill or to reduce leader strength to zero?</Header>
    <Body>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Kill" ConfirmError="@Validation" Other="Other" OtherText="Reduce to 0"/>
    </Body>

</GameEventComponentLayout>

@code {

    protected override void OnInitialized()
    {
        BackgroundImage = Support.GetCardImage(TreacheryCardType.Rockmelter);
    }

    protected override bool IsUrgent => true;

    protected override RockWasMelted ConfirmedResult => new RockWasMelted(Game) { Initiator = Faction, Kill = true };

    protected override RockWasMelted OtherResult => new RockWasMelted(Game) { Initiator = Faction, Kill = false };
}
