<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<SetIncreasedRevivalLimits>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Which factions may have their revival limit increased to 5?</Header>
    <Body>

        <SelectFactionComponent Selected="factions" Values="SetIncreasedRevivalLimits.ValidTargets(Game, Player)" OnChanged="StateHasChanged" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Set Limits" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override Faction IsFactionSpecific => Faction.Purple;

    private List<Faction> factions = new List<Faction>();

    protected override void OnInitialized()
    {
        factions.AddRange(Game.FactionsWithIncreasedRevivalLimits);
    }

    protected override SetIncreasedRevivalLimits ConfirmedResult => new SetIncreasedRevivalLimits(Game) { Initiator = Faction, Factions = factions.ToArray() };
}
