<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<SetShipmentPermission>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Manage shipment permissions</Header>
    <Body>

        @if (Game.ShipmentPermissions.Any())
        {
            <table class="table table-striped table-sm">

                <thead>
                    <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Cross planet</th>
                        <th scope="col">To (own) homeworld</th>
                        <th scope="col">At half price</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var kvp in Game.ShipmentPermissions)
                    {
                        <tr>
                            <td><img width=24 src="@Skin.Current.GetImageURL(kvp.Key)" /></td>
                            <td>@((kvp.Value & ShipmentPermission.Cross) == ShipmentPermission.Cross ? "Yes" : "No")</td>
                            <td>@((kvp.Value & ShipmentPermission.ToHomeworld) == ShipmentPermission.ToHomeworld ? "Yes" : "No")</td>
                            <td>@((kvp.Value & ShipmentPermission.OrangeRate) == ShipmentPermission.OrangeRate ? "Yes" : "No")</td>
                            <td>
                                <button class="btn btn-primary btn-sm" @onclick="e => Revoke(kvp.Key)">Revoke</button>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }

        <div class="mt-2">
            <SelectFromImageComponent Values=@SetShipmentPermission.ValidTargets(Game, Player) Selected=@targets Required=true ImageWidth="40" T=Faction OnChanged=StateHasChanged>
                <Label>Set permissions for:</Label>
            </SelectFromImageComponent>

            <CheckboxComponent @bind-Value=@_crossPermission>Allow cross planet shipments</CheckboxComponent>
            <CheckboxComponent @bind-Value=@_homeworldPermission>Allow shipment to (own) homeworld</CheckboxComponent>
            <CheckboxComponent @bind-Value=@_discountPermission>May ship at half price</CheckboxComponent>
        </div>
        
        <ButtonRowComponent Confirm="Confirm" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private List<Faction> targets = new();
    private bool _crossPermission;
    private bool _homeworldPermission;
    private bool _discountPermission;

    protected override Faction IsFactionSpecific => Faction.Orange;

    protected override SetShipmentPermission ConfirmedResult => new SetShipmentPermission(Game) { Initiator = Faction, Factions = targets.ToArray(), Permission = GetPermissions() };

    private async Task Revoke(Faction f) => await Request(new SetShipmentPermission(Game) { Initiator = Faction, Factions = new Faction[] {f}, Permission = ShipmentPermission.None });

    private ShipmentPermission GetPermissions()
    {
        var result = ShipmentPermission.None;
        if (_crossPermission) result |= ShipmentPermission.Cross;
        if (_homeworldPermission) result |= ShipmentPermission.ToHomeworld;
        if (_discountPermission) result |= ShipmentPermission.OrangeRate;
        return result;
    }
}
