<!--
* Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Shipment>
@implements IDisposable

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>

        @if (Faction == Faction.Yellow)
        {
            <div>Bring any number of forces onto @Skin.Current.Describe(Game.Map.TheGreatFlat.Territory) or onto any one territory within two territories of @Skin.Current.Describe(Game.Map.TheGreatFlat.Territory).</div>

            @if (Game.MayShipCrossPlanet(Player))
            {
                <div>In addition, your ally allows you to ship to other locations as well from your reserves.</div>
            }
        }
        else
        {
            <div>Select forces to ship, or pass.</div>
        }

        @if (Game.MayShipCrossPlanet(Player))
        {
            <div>You may ship site-to-site any number of forces from a source location to another location.</div>
        }

        @if (Game.MayShipToReserves(Player))
        {
            <div>You may ship any number of forces from any one location back to your reserves.</div>
        }

    </Header>
    <Body>

        @if (Game.MayShipCrossPlanet(Player) || Game.MayShipToReserves(Player))
        {
            <RadioComponent @bind-Value="shipmentType" Values="@ValidShipmentTypes" ValueLabels="@ValidShipmentTypeLabels" />
        }
        else
        {
            shipmentType = SHIPMENT_NORMAL;
        }

        @if (shipmentType == SHIPMENT_SITETOSITE)
        {
            <SelectComponent ButtonHint="ClickHintButton.LMB" ModifierHint="ClickHintModifier.CTRL" @bind-Value="shipmentFrom" Values="ValidSourceLocations">
                <Label>From</Label>
            </SelectComponent>
        }
        else
        {
            shipmentFrom = null;
        }

        <div class="mt-1 mb-1">
            <SelectComponent ButtonHint="ClickHintButton.LMB" @bind-Value="shipmentTo" Values="ValidShipmentLocations.OrderByDescending(l => l.IsStronghold).ThenBy(l => Name(l))">
                <Label>To</Label>
            </SelectComponent>
        </div>

        @if (shipmentType != SHIPMENT_BACK && Game.ContainsConflictingAlly(Player, shipmentTo))
        {
            <div class="text-danger bg-dark">Note: any of your forces there at the end of your move turn will be destroyed due to ally presence!</div>
        }

        @if (Shipment.MayUseNoField(Game, Player))
        {
            var validNoFieldValues = new List<int>();
            validNoFieldValues.Add(-1);
            validNoFieldValues.AddRange(Shipment.ValidNoFieldValues(Game, Player));

            var validNoFieldValueLabels = new List<string>();
            validNoFieldValueLabels.Add("Don't use a No-Field");
            validNoFieldValueLabels.AddRange(Shipment.ValidNoFieldValues(Game, Player).Select(v => string.Format("No-Field of {0}", v)));

            <RadioComponent @bind-Value="nofieldValue" Values="validNoFieldValues" ValueLabels="validNoFieldValueLabels">
                <Label>Use a @Skin.Current.Describe(Faction.White) No-Field for this shipment?</Label>
            </RadioComponent>

            if (Shipment.MayUseCunningNoField(Player))
            {
                var cunningValidNoFieldValues = new List<int>();
                cunningValidNoFieldValues.Add(-1);
                cunningValidNoFieldValues.AddRange(Shipment.ValidCunningNoFieldValues(Game, Player, nofieldValue));

                var validCunningNoFieldValueLabels = new List<string>();
                validCunningNoFieldValueLabels.Add("Don't use a second No-Field");
                validCunningNoFieldValueLabels.AddRange(Shipment.ValidCunningNoFieldValues(Game, Player, nofieldValue).Select(v => string.Format("No-Field of {0}", v)));

                <RadioComponent @bind-Value="cunningNofieldValue" Values="cunningValidNoFieldValues" ValueLabels="validCunningNoFieldValueLabels">
                    <Label>Use Nexus Cunning to ship a second No-Field (that will be immediately revealed)?</Label>
                </RadioComponent>
            }
            else
            {
                cunningNofieldValue = -1;
            }
        }
        else
        {
            nofieldValue = -1;
            cunningNofieldValue = -1;
        }

        @if (!(Faction == Faction.White && nofieldValue >= 0))
        {
            <div class="mt-1">

                @if (ValidShipmentForces > 0)
                {
                    <SelectForcesComponent @bind-Value="shipmentForceAmount" Min="0" Max="ValidShipmentForces" Faction="Faction" Special="false" />
                }
                else
                {
                    shipmentForceAmount = 0;
                }

                @if (ValidShipmentSpecialForces > 0 && Faction != Faction.White)
                {
                    <SelectForcesComponent @bind-Value="shipmentSpecialForceAmount" Min="0" Max="ValidShipmentSpecialForces" Faction="Faction" Special="true" />
                }
                else
                {
                    shipmentSpecialForceAmount = 0;
                }

            </div>
        }
        else
        {
            shipmentForceAmount = 0;
            shipmentSpecialForceAmount = 1;
        }

        
        @if (shipmentType == SHIPMENT_NORMAL && (shipmentForceAmount > 0 || shipmentSpecialForceAmount > 0) && Shipment.MaySmuggle(Game, Player, shipmentTo))
        {
            <div class="mt-1">

                <div>You may smuggle 1 force for free:</div>

                @if (Player.ForcesInReserve > 0)
                {
                    <SelectForcesComponent @bind-Value="smuggledForceAmount" Min="0" Max="1" Faction="Faction" Special="false" />
                }
                else
                {
                    smuggledForceAmount = 0;
                }

                @if (Player.SpecialForcesInReserve > 0 && Faction != Faction.White)
                {
                    <SelectForcesComponent @bind-Value="smuggledSpecialForceAmount" Min="0" Max="1" Faction="Faction" Special="true" />
                }
                else
                {
                    smuggledSpecialForceAmount = 0;
                }

            </div>
        }
        else
        {
            smuggledForceAmount = 0;
            smuggledSpecialForceAmount = 0;
        }

        @if (Player.Ally != Faction.None && Cost > 0 && Game.SpiceYourAllyCanPay(Player) > 0)
        {
            <div class="mt-1">
                <SelectResourcesFromFactionComponent @bind-Value="shipmentAllyContributionAmount" Min="0" Max="Game.SpiceYourAllyCanPay(Player)" Faction="Player.Ally" Title=@Skin.Current.Format("{0} paid by your ally", Concept.Resource) />
            </div>
        }
        else
        {
            shipmentAllyContributionAmount = 0;
        }

        @if (Shipment.CanKarma(Game, Player) && (Faction != Faction.Yellow || shipmentType == SHIPMENT_SITETOSITE) && !Game.MayShipCrossPlanet(Player))
        {
            <div class="mt-1">

                <SelectFromImageComponent @bind-Value="karmaCard" Values="Shipment.ValidKarmaCards(Game, Player)" Required="false" ImageWidth="80">
                    <Label>Use @Skin.Current.Describe(TreacheryCardType.Karma) to ship at @Skin.Current.Describe(Faction.Orange) rate?</Label>
                </SelectFromImageComponent>
            
                @if (karmaCard != null && !Player.TreacheryCards.Contains(karmaCard))
                {
                    <div class="text-info">This card is offered to you by your ally</div>
                }

            </div>
        }
        else
        {
            karmaCard = null;
        }

        <div class="mt-1 text-end">Total cost of shipment: <SimpleNumberComponent>@Cost</SimpleNumberComponent></div>

        @if (shipmentType == SHIPMENT_NORMAL && Faction != Faction.Yellow && Game.PreventedFromShipping(Faction))
        {
            <ButtonRowComponent Pass="Pass" PassText="Pass" />
        }
        else 
        {
            <ButtonRowComponent Confirm="Confirm" ConfirmText="Ship" ConfirmError=@Validation Pass="Pass" PassText="Pass" />
        }

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    const int SHIPMENT_NORMAL = 0;
    const int SHIPMENT_SITETOSITE = 1;
    const int SHIPMENT_BACK = 2;

    private int shipmentType = SHIPMENT_NORMAL;
    private TreacheryCard karmaCard;
    private int shipmentForceAmount;
    private int shipmentSpecialForceAmount;
    private Location shipmentFrom;
    private Location shipmentTo;
    private int shipmentAllyContributionAmount;
    private int nofieldValue = -1;
    private int cunningNofieldValue = -1;
    private int smuggledForceAmount;
    private int smuggledSpecialForceAmount;

    protected override Shipment ConfirmedResult
    {
        get
        {
            int direction = (shipmentType == SHIPMENT_BACK ? -1 : 1);
            var from = (shipmentType == SHIPMENT_SITETOSITE ? shipmentFrom : null);

            return new Shipment(Game)
            {
                Initiator = Faction,
                ForceAmount = direction * shipmentForceAmount,
                SpecialForceAmount = direction * shipmentSpecialForceAmount,
                SmuggledAmount = smuggledForceAmount,
                SmuggledSpecialAmount = smuggledSpecialForceAmount,
                NoFieldValue = nofieldValue,
                CunningNoFieldValue = cunningNofieldValue,
                From = from,
                To = shipmentTo,
                Passed = false,
                KarmaCard = karmaCard,
                AllyContributionAmount = shipmentAllyContributionAmount
            };
        }
    }

    protected override Shipment PassedResult => new Shipment(Game) { Initiator = Faction, Passed = true };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            h.OnLocationSelected += HandleLocationSelected;
            h.OnLocationSelectedWithShift += HandleLocationSelectedWithModifier;
            h.OnLocationSelectedWithCtrlOrAlt += HandleLocationSelectedWithModifier;
            h.OnLocationSelectedWithShiftAndWithCtrlOrAlt += HandleLocationSelectedWithModifier;
        }
    }

    public override void Dispose()
    {
        base.Dispose();
        h.OnLocationSelected -= HandleLocationSelected;
        h.OnLocationSelectedWithShift -= HandleLocationSelectedWithModifier;
        h.OnLocationSelectedWithCtrlOrAlt -= HandleLocationSelectedWithModifier;
        h.OnLocationSelectedWithShiftAndWithCtrlOrAlt -= HandleLocationSelectedWithModifier;
    }

    private void HandleLocationSelected(object sender, Location l)
    {
        SetIfValid(ref shipmentTo, ValidShipmentLocations, l);
    }

    private void HandleLocationSelectedWithModifier(object sender, Location l)
    {
        SetIfValid(ref shipmentFrom, ValidSourceLocations, l);
    }

    private void ShipmentTypeOnChange(ChangeEventArgs args)
    {
        shipmentType = Convert.ToInt32(args.Value);
        StateHasChanged();
    }

    private IEnumerable<Location> ValidShipmentLocations
    {
        get
        {
            switch (shipmentType)
            {
                case SHIPMENT_NORMAL:
                case SHIPMENT_SITETOSITE:
                    return Shipment.ValidShipmentLocations(Game, Player);

                case SHIPMENT_BACK:
                    return Player.LocationsWithAnyForces;
            }

            return new Location[] { };
        }
    }

    private int ValidShipmentForces
    {
        get
        {
            switch (shipmentType)
            {
                case SHIPMENT_NORMAL: return Shipment.ValidMaxNormalShipmentForces(Player, false, nofieldValue);
                case SHIPMENT_SITETOSITE: return Shipment.ValidMaxShipmentSiteToSiteForces(Player, false, shipmentFrom);
                case SHIPMENT_BACK: return Shipment.ValidMaxShipmentBackForces(Player, false, shipmentTo);
            }

            return 0;
        }
    }

    private int ValidShipmentSpecialForces
    {
        get
        {
            switch (shipmentType)
            {
                case SHIPMENT_NORMAL: return Shipment.ValidMaxNormalShipmentForces(Player, true, nofieldValue);
                case SHIPMENT_SITETOSITE: return Shipment.ValidMaxShipmentSiteToSiteForces(Player, true, shipmentFrom);
                case SHIPMENT_BACK: return Shipment.ValidMaxShipmentBackForces(Player, true, shipmentTo);
            }

            return 0;
        }
    }

    private IEnumerable<Location> ValidSourceLocations => Game.LocationsWithAnyForcesNotInStorm(Player);

    private int Cost => Shipment.DetermineCost(Game, Player, (Shipment) ConfirmedResult);

    private IEnumerable<int> ValidShipmentTypes
    {
        get
        {
            var result = new List<int>();

            result.Add(SHIPMENT_NORMAL);

            if (Game.MayShipCrossPlanet(Player)) result.Add(SHIPMENT_SITETOSITE);

            if (Game.MayShipToReserves(Player)) result.Add(SHIPMENT_BACK);

            return result;
        }
    }

    private IEnumerable<string> ValidShipmentTypeLabels
    {
        get
        {
            var result = new List<string>();

            result.Add("Normal Shipment");

            if (Game.MayShipCrossPlanet(Player)) result.Add("Site-to-site");

            if (Game.MayShipToReserves(Player)) result.Add("Back to reserves");

            return result;
        }
    }
}
