<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Client.GenericComponents;
@using Treachery.Shared
@inherits GameEventComponent<StormSpellPlayed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use @Skin.Current.Describe(TreacheryCardType.StormSpell)?</Header>
    <Body>

        <SelectNumberComponent @bind-Value="nrOfSectors" Min="0" Max="10" Label="Number of sectors" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Use {0}", TreacheryCardType.StormSpell)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private int nrOfSectors;

    protected override StormSpellPlayed ConfirmedResult => new StormSpellPlayed(Game) { Initiator = Faction, MoveAmount = nrOfSectors };
}