<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Client.GenericComponents;
@using Treachery.Shared
@inherits GameEventComponent<StormSpellPlayed>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Use @Skin.Current.Describe(TreacheryCardType.StormSpell)?</Header>
    <Body>

        <NumberPickerComponent @bind-Value="nrOfSectors" Min="0" Max="10" Label="Number of sectors"/>
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private int nrOfSectors;

    protected override StormSpellPlayed ConfirmedResult => new StormSpellPlayed(Game) { Initiator = Faction, MoveAmount = nrOfSectors };
}