<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TerrorRevealed>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Resort to Terror against @Name(TerrorRevealed.GetVictim(Game)) in @Name(TerrorRevealed.GetTerritory(Game))?</Header>
    <Body>

        @if (TerrorRevealed.GetTypes(Game).Count() > 1)
        {
            <SelectComponent @bind-Value="_type" Values=@TerrorRevealed.GetTypes(Game)>
                <Label>Which kind of terror to use?</Label>
             </SelectComponent>
        }
        else
        {
            _type = TerrorRevealed.GetTypes(Game).First();
            <div>Use @Name(_type)?</div>
        }

        @if(_type == TerrorType.Robbery)
        {
            <RadioComponent @bind-Value="_robberyTakesCard" Values="@(new bool[] {false,true})" ValueLabels="@(new string[] {"Steal half their spice (rounded up)", "Draw a Treachery Card"})">
                <Label>Which kind of robbery?</Label>
            </RadioComponent>
        }
        else
        {
            _robberyTakesCard = false;
        }

        @if (_type == TerrorType.Sabotage)
        {
            <SelectCardComponent @bind-Value="_toGiveInSabotage" Values="Player.TreacheryCards" Required="true">
                <Label>You may select one of your treachery cards to give to them</Label>
            </SelectCardComponent>
        }
        else
        {
            _toGiveInSabotage = null;
        }

        @if (_type == TerrorType.SneakAttack)
        {
            <SelectForcesComponent @bind-Value="_forcesInSneakAttack" Min="0" Max=@TerrorRevealed.MaxAmountOfForcesInSneakAttack(Game, Player) Faction="Faction" Special="false" Label="Amount of forces" />
        }
        else
        {
            _forcesInSneakAttack = 0;
        }

        <ButtonRowComponent Confirm="Confirm" ConfirmText=@Skin.Current.Format("Execute {0}", _type) ConfirmError=@Validation Pass="Pass" OtherText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Cyan;

    private TerrorType _type;
    private bool _robberyTakesCard;
    private TreacheryCard _toGiveInSabotage;
    private int _forcesInSneakAttack;

    protected override TerrorRevealed ConfirmedResult => new TerrorRevealed(Game) { Initiator = Faction, Type = _type, RobberyTakesCard = _robberyTakesCard, CardToGiveInSabotage = _toGiveInSabotage, ForcesInSneakAttack = _forcesInSneakAttack };

    protected override TerrorRevealed PassedResult => new TerrorRevealed(Game) { Initiator = Faction, Passed = true };
}
