<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<ThoughtAnswered>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle=@BodyStyle CollapsedType=GetType()>

    <Header>Select which card (if any) to show in response to your opponent's @Skin.Current.Describe(LeaderSkill.Thinker) question</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="ThoughtAnswered.ValidCards(Game, Player)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Show {0}", card)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override ThoughtAnswered ConfirmedResult => new ThoughtAnswered(Game, Faction) { Card = card };
}
