<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<ThoughtAnswered>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Select which card (if any) to show in response to your opponent's @Skin.Current.Describe(LeaderSkill.Thinker) question</Header>
    <Body>

        <SelectCardComponent @bind-Value="card" Values="ThoughtAnswered.ValidCards(Game, Player)" Required="true"/>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Show {0}", card)" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override ThoughtAnswered ConfirmedResult => new ThoughtAnswered(Game) { Initiator = Faction, Card = card };
}
