<!--
 * Copyright 2020-2023 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<Thought>

<GameEventComponentLayout IsUrgent="@IsUrgent" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" CollapsedType=GetType()>

    <Header>Use your @Skin.Current.Describe(LeaderSkill.Thinker) to ask if your opponent has a specific weapon</Header>
    <Body>

        <SelectFromImageComponent @bind-Value="card" Values="Thought.ValidCards(Game)" Required="true" ImageWidth="80" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="@Skin.Current.Format("Ask about {0}", card)" ConfirmError=@Validation />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override Thought ConfirmedResult => new Thought(Game) { Initiator = Faction, Card = card };
}
