<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<TraitorsSelected>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Select which leader to keep as your traitor</Header>
    <Body>

        <SelectHeroComponent @bind-Value="traitor" Values="Player.Traitors" />
        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;

    private IHero traitor;

    protected override TraitorsSelected ConfirmedResult => new TraitorsSelected(Game) { Initiator = Faction, SelectedTraitor = traitor };
}