<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits GameEventComponent<WhiteGaveCard>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle" @bind-Collapsed="@Collapsed">

    <Header>Give your ally a card?</Header>
    <Body>

        <SelectCardComponent @bind-Value="card" Values="WhiteGaveCard.ValidCards(Game, Player)" Required="true" />

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@Validation" />

    </Body>

</GameEventComponentLayout>

@code {

    private TreacheryCard card;

    protected override WhiteGaveCard ConfirmedResult => new WhiteGaveCard(Game) { Initiator = Faction, Card = card };
}
