<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@using Treachery.Client.GenericComponents;
@inherits PlacementComponent<YellowRidesMonster>

<GameEventComponentLayout Border="@Border" BackgroundStyle="@BackgroundStyle" HeaderStyle="@HeaderStyle" BodyStyle="@BodyStyle">

    <Header>Travel with @Skin.Current.Describe(Concept.Monster)</Header>
    <Body>

        <SelectComponent ButtonHint="ClickHintButton.LMB" ModifierHint="ClickHintModifier.CTRL" Value="fromTerritory" Values="ValidSources">
            <Label>From</Label>
        </SelectComponent>

        <ForceSelectionComponent h="h" Forces="forces" Locations="Player.LocationsWithAnyForcesInTerritory(fromTerritory)" />

        <SelectComponent ButtonHint="ClickHintButton.LMB" Value="toLocation" Values="ValidTargets">
            <Label>To</Label>
        </SelectComponent>

        <ButtonRowComponent Confirm="Confirm" ConfirmText="Confirm" ConfirmError="@validationError" Pass="Pass" PassText="Pass" />

    </Body>

</GameEventComponentLayout>

@code {

    protected override bool IsUrgent => true;
    protected override Faction IsFactionSpecific => Faction.Yellow;

    override protected YellowRidesMonster ConfirmedResult => new YellowRidesMonster(h.Game) { Initiator = h.Faction, ForceLocations = forces, To = toLocation, Passed = false };

    override protected YellowRidesMonster PassedResult => new YellowRidesMonster(h.Game) { Initiator = h.Faction, Passed = true };

    protected override IEnumerable<Territory> ValidSources => YellowRidesMonster.ValidSources(h.Game);

    protected override IEnumerable<Location> ValidTargets => YellowRidesMonster.ValidTargets(h.Game, h.Player);
}
