<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent;
@inject IJSRuntime JSRuntime;

<div class="p-2" style="background-color:@BackgroundColor">

    <div class="d-flex flex-row-reverse">

        <input @bind-value=message class="form-control" type="text" maxlength="512" placeholder=@Placeholder id="messageSentBody" @onkeyup=@(e => KeyUp(e))/>

    </div>

    <div class="d-flex flex-row-reverse mt-1">

        <button class="btn btn-primary" @onclick="(e => Send())">Send</button>

        @if (h.HostProxy != null)
        {
            <select class="form-select" style="color:@SelectedFactionForegroundColor;background-color:@SelectedFactionColor" @bind="@playername" id="messageSentTarget">

                @if (!h.MuteGlobalChat)
                {
                    <option style="color:red;font-weight:bold;background-color:white" value="@LABEL_GLOBAL_CHAT">@LABEL_GLOBAL_CHAT</option>
                }

                <option style="color:red;font-weight:bold;background-color:white" value="@LABEL_ALL_PLAYERS_IN_GAME">@LABEL_ALL_PLAYERS_IN_GAME</option>

                @foreach (var p in h.Game.Players.Where(p => p.Name != h.MyName))
                {
                    <option style="color:@Skin.Current.GetFactionColor(p.Faction);background-color:white" value="@p.Name">@p.Name</option>
                }

            </select>
        }
        else
        {
            playername = LABEL_GLOBAL_CHAT;
        }

    </div>

    @foreach (var m in h.Messages.Where(message => !h.MuteGlobalChat || message is not GlobalChatMessage))
    {
        var bgcolor = (m) switch
        {
            GameChatMessage gcm => Skin.Current.GetFactionColor(gcm.GetSourceFaction(h.Game)),
            GlobalChatMessage gcm => "grey",
            _ => "grey"
        };

        <div class='text-break p-1 mt-1 small' style="background-color:@bgcolor">
            <ExpressionComponent Game=Game Expression=@m.GetBodyIncludingPlayerInfo(h.MyName, h.Game, h.HostProxy == null).Expression />
        </div>
    }

    @if (h.HostProxy != null)
    {
        <div class="mt-1" style="color:black">
            <CheckboxComponent @bind-Value="h.MuteGlobalChat">Hide global chat messages</CheckboxComponent>
        </div>
    }

</div>

@code {

    [Parameter]
    public string BackgroundColor { get; set; } = "transparant";

    private const string LABEL_GLOBAL_CHAT = "ALL PLAYERS (on treachery.online)";
    private const string LABEL_ALL_PLAYERS_IN_GAME = "ALL PLAYERS (in this game)";

    private string message;
    private string playername;
    private static Handler currentHandler;

    protected override void OnInitialized()
    {
        currentHandler = h;

        if (h.HostProxy != null)
        {
            if (h.Game.Players.Where(p => p.Name != h.MyName).Any())
            {
                playername = h.Game.Players.Where(p => p.Name != h.MyName).Select(p => p.Name).First();
            }
            else
            {
                playername = LABEL_ALL_PLAYERS_IN_GAME;
            }
        }
        else
        {
            playername = LABEL_GLOBAL_CHAT;
        }
    }

    private async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Send();
        }
    }

    private async Task Send()
    {
        await SendMessage(message, playername);
        message = "";
    }

    [JSInvokable("SendMessage")]
    public static async Task SendMessage(string msg, string target)
    {
        var sourcePlayer = currentHandler.Player;

        if (target == LABEL_GLOBAL_CHAT)
        {
            await currentHandler.Request(
                new GlobalChatMessage()
                    {
                        SourcePlayerName = sourcePlayer != null ? currentHandler.Player.Name : "",
                        Body = msg
                    });

        }
        else {

            var targetPlayer = target == LABEL_GLOBAL_CHAT || target == LABEL_ALL_PLAYERS_IN_GAME ? null : currentHandler.Game.GetPlayer(target);

            await currentHandler.HostProxy.Request(
                new GameChatMessage()
                {
                    SourcePlayerName = sourcePlayer != null ? currentHandler.Player.Name : "",
                    TargetPlayerName = targetPlayer != null ? targetPlayer.Name : "",
                    Body = msg
                });
        }
    }

    [JSInvokable("InitializeChatPopup")]
    public static void InitializeChatPopup()
    {
        var init = new PopupChatInitialization()
        {
            playerNames = currentHandler.Game.Players.Where(p => p.Name != currentHandler.Player.Name).Select(p => p.Name).ToArray(),
            playerStyles = currentHandler.Game.Players.Where(p => p.Name != currentHandler.Player.Name).Select(p => Skin.Current.GetFactionColor(p.Faction)).ToArray(),
            messages = currentHandler.Messages.Select(m => PopupChatMessage.Construct(currentHandler.Game, currentHandler.MyName, m)).ToArray()
        };

        _ = Task.Delay(1000).ContinueWith(e => Browser.SendToChatPopup(init));
    }

    private string Placeholder => "Your message to " + playername + "...";

    private string SelectedFactionColor
    {
        get
        {
            if (h.Faction == Faction.None)
            {
                return "white";
            }
            else
            {
                var p = h.Game.GetPlayer(playername);
                if (p != null)
                {
                    return Skin.Current.GetFactionColor(p.Faction);
                }
                else
                {
                    return "red";
                }
            }
        }
    }

    private string SelectedFactionForegroundColor
    {
        get
        {
            if (h.Faction == Faction.None)
            {
                return "black";
            }
            else
            {
                return "white";
            }
        }
    }
}

