@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent

<div class="card mb-2 shadow-lg border-light" style="opacity:0.9;animation:fadeIn90 1s">
    <div class="card-header">Games created by you</div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
            @foreach (var av in Client.RunningGames.Where(info => info.CreatorUserId == Client.UserId).OrderByDescending(av => av.LastAction))
            {
                var fontColorStyle = av.LastAction != null && DateTimeOffset.Now.Subtract((DateTimeOffset)av.LastAction).TotalMinutes > 20 ? "color:grey" : "color:white";

                <tr class="small table-dark">
                    <td class="w-25" style="@fontColorStyle">
                        @av.GameName
                    </td>
                    <td class="w-25">
                        <button class="btn btn-primary  me-1" @onclick="@(_ => Close(av))">Close</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <input type="text" class="form-control" @bind="createGamePassword" maxlength="24" placeholder="Game password (optional)"/>
        <a class="btn btn-dark btn-sm mt-1 p-2 text-start p-0 mt-0 mb-0" href="https://discord.gg/qsMSgtYN" target="_blank" title="Find players on Dune Discord">
            <svg style="margin-right:2px" width="18" height="18" viewBox="0 -28.5 256 256" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                <g>
                    <path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="white" fill-rule="nonzero"/>
                </g>
            </svg>
            Find players on Dune Discord
        </a>
        <div class="text-danger small">@error</div>
        <button class="btn btn-primary mt-1" @onclick="@CreateNewGame">Create new game</button>
        <label class="btn btn-primary mt-1">Load game from file
            <input hidden type="file" id="fileInput" @ref="fileInput" @onchange="@LoadAndCreateGame"/>
        </label>
    </div>
</div>

@code {

    private const int MaxSaveGameSize = 4194304;

    private string createGamePassword;
    private object fileInput;
    private string error = string.Empty;
    private string loadedGameData;

    private async Task CreateNewGame()
    {
        await Client.RequestCreateGame(createGamePassword);
    }
    
    private async Task LoadAndCreateGame()
    {
        error = string.Empty;
        await Task.Delay(200).ContinueWith(_ => LoadGameOpenFile());
    }

    private async Task LoadGameOpenFile()
    {
        try
        {
            loadedGameData = await Browser.LoadFile(fileInput);

            if (!string.IsNullOrEmpty(loadedGameData))
            {
                if (loadedGameData.Length > MaxSaveGameSize)
                {
                    error = "File is too big";
                }
                else
                {
                    var skinData = Skin.Current == Skin.Default ? null : Skin.Current.SkinToString();
                    await Client.RequestCreateGame(createGamePassword, loadedGameData, skinData);    
                }
            }
        }
        catch (Exception e)
        {
            error = $"Error loading game ({e.Message})";
        }

        StateHasChanged();
    }
    
    private async Task Close(GameInfo av)
    {
        var result = await Client.RequestCloseGame(av.GameId);
        if (result != null)
            error = result;
        
        StateHasChanged();
    }
}
