@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent

<div class="card p-1 ml-1">
    <div class="card-body">
        @if (Game.CurrentPhase is Phase.AwaitingPlayers)
        {
            foreach (var userId in Game.Participation.StandingPlayers)
            {
                var isMe = Client.UserId == userId;
                var isHost = Game.IsHost(userId);
                var emphasis = isMe ? "fw-bold" : string.Empty;
                
                <div style="border-bottom: 1px solid darkgrey; min-height: 2rem;">
                    <span class="@emphasis">
                        @Game.GetPlayerName(userId)
                    </span>
                    @if (isHost)
                    {
                        <HostIcon/>
                    }
                    @if (Client.IsHost)
                    {
                        if (isHost && Game.NumberOfHosts > 1)
                        {
                            <CommandButton Small MarginClass="m-1" OnClick="@(_ => SetOrUnsetHost(userId))">Unmake host</CommandButton>
                        }
                        else if (!isHost)
                        {
                            <CommandButton Small MarginClass="m-1" OnClick="@(_ => SetOrUnsetHost(userId))">Make host</CommandButton>
                        }
                        if (!isMe)
                        {
                            <CommandButton Small Class="btn-danger" MarginClass="m-1" OnClick="@(_ => Remove(userId, true))">Kick</CommandButton>
                        }
                    }
                </div>
            }
        }
        else
        {
            foreach (var player in Game.Players.OrderBy(p => p.Seat))
            {
                var userId = Game.GetUserIdOfPlayer(player);
                var makeAvailableText = Game.SeatIsAvailable(player.Seat) ? "Close" : "Open";
                var isMe = Client.UserId == userId;
                var isHost = Game.IsHost(userId);
                
                <div style="border-bottom: 1px solid darkgrey; min-height: 2rem;">
                    <FactionComponent Faction="@player.Faction" Diameter="20"/>
                    @if (Game.IsBot(player))
                    {
                        <BotIcon/>
                    }
                    else
                    {
                        var emphasis = isMe ? "fw-bold" : string.Empty;
                        <span class="m-1 @emphasis">@Game.GetPlayerName(player)</span>
                    }
                    @if (isHost)
                    {
                        <HostIcon/>
                    }
                    @if (Game.SeatIsAvailable(player.Seat))
                    {
                        <span class="badge text-bg-success">open</span>
                    }
                    @if (Client.IsHost)
                    {
                        <CommandButton Small MarginClass="m-1" OnClick="@(_ => OpenSeat(player.Seat))">@makeAvailableText seat</CommandButton>
                        @if (!Game.IsBot(player))
                        {
                            if (!isMe)
                            {
                                <CommandButton Small Class="btn-danger" MarginClass="m-1" OnClick="@(_ => Remove(userId, true))">Kick</CommandButton>
                            }
                            if (isHost && Game.NumberOfHosts > 1)
                            {
                                <CommandButton Small MarginClass="m-1" OnClick="@(_ => SetOrUnsetHost(userId))">Unmake host</CommandButton>
                            }
                            else if (!isHost)
                            {
                                <CommandButton Small MarginClass="m-1" OnClick="@(_ => SetOrUnsetHost(userId))">Make host</CommandButton>
                            }
                        }
                        <br>
                    }
                </div>
            }
        }
        <CommandButton Small Class="btn-danger" MarginClass="m-1" OnClick="@(_ => Remove(Client.UserId, false))">Leave game</CommandButton>
        <div class="text-danger">@ActionResult</div>
    </div>
</div>

@code {

    private string ActionResult { get; set; } = string.Empty;
    
    private async Task Remove(int userId, bool kick)
    {
        if (kick)
        {
            ActionResult = await Client.RequestKick(userId);
        }
        else
        {
            await Client.RequestLeaveGame();
            ActionResult = string.Empty;
        }
    }

    private async Task SetOrUnsetHost(int userId)
    {
        ActionResult = await Client.RequestSetOrUnsetHost(userId);
    }

    private async Task OpenSeat(int seatId)
    {
        ActionResult = await Client.RequestOpenOrCloseSeat(seatId);
    }
}
