<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent

@if (Player != null && h.CurrentPhase > Phase.TradingFactions)
{
    <div class="card p-1 border-light mb-1">

        @if (ShowHeader)
        {
            <div class="card-header" @onclick=@(e => Collapsed = !Collapsed)>
                @Name(ShownPlayer.Faction)
                <CollapseButton Collapsed=@Collapsed />
            </div>
        }

        @if (!Collapsed || !ShowHeader)
        {
            <div class="card-body p-0 bg-transparent text-center" style="background-image: url('@Skin.Current.GetImageURL(ShownPlayer.Faction)'); background-position:center; background-size:300px 300px; background-clip:content-box; background-repeat: no-repeat">

                <div class="card-text h-100 text-white" style="background-color:rgba(0,0,0,0.6);">

                    @if (h.CurrentPhase > Phase.TradingFactions)
                    {
                        <div class="row m-0 bg-dark justify-content-center">

                            <!-- Resources -->
                            <div class="col p-0">
                                <img class="img-fluid m-0 p-0" width="24" height="24" src="@Skin.Current.Harvester_URL" title="@Name(Concept.Resource)" /><strong>&nbsp;@ResourcesText</strong>
                            </div>

                            <!-- Forces -->
                            <div class="col p-0">
                                <img class="img-fluid m-0 p-0" width="24" height="24" src="@Skin.Current.GetFactionForceImageURL(ShownPlayer.Faction)" title=@Name(ShownPlayer.Force) /><strong>&nbsp;@ShownPlayer.ForcesInReserve</strong>
                            </div>

                            <!-- Special Forces -->
                            @if (ShownPlayer.HasSpecialForces)
                            {
                                <div class="col p-0">
                                    <img class="img-fluid m-0 p-0" width="24" height="24" src="@Skin.Current.GetFactionSpecialForceImageURL(ShownPlayer.Faction)" title=@Name(ShownPlayer.SpecialForce) /><strong>&nbsp;@ShownPlayer.SpecialForcesInReserve</strong>
                                </div>
                            }

                        </div>

                        <!-- Leaders -->
                        @foreach (var v in ShownPlayer.Leaders.Where(l => h.Game.IsAlive(l)))
                        {
                            var style = Game.Skilled(v) ? "filter:brightness(150%) contrast(100%)" : "";
                            <UntypedImage Src=@Skin.Current.GetImageURL(v) Style=@style Class="img-fluid p-1" Width=60 Popover=@Popup.Get(v, h.Game)/>
                        }

                        @foreach (var v in ShownPlayer.Leaders.Where(l => !h.Game.IsAlive(l)))
                        {
                            <UntypedImage Src=@Skin.Current.GetImageURL(v) Style="filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8)" Class="img-fluid p-1" Width=60 Popover=@Popup.Get(v, h.Game)/>
                        }

                        <!-- Traitors and Face Dancers -->
                        @if (ShownPlayer.FaceDancers.Count > 0)
                        {
                            <h5 class="mt-1 mb-0">Face Dancers</h5>
                            @foreach (var v in ShownPlayer.FaceDancers)
                            {
                                var style = ShownPlayer.RevealedDancers.Contains(v) ? "filter:brightness(150%) contrast(100%) blur(1px)" : "";
                                <UntypedImage Src=@Skin.Current.GetImageURL(v) Style=@style Class="img-fluid p-1" Width=60 Popover=@Popup.Get(v, h.Game)/>
                            }
                        }
                        else if (!h.Game.Applicable(Rule.AssistedNotekeeping) && ShownPlayer.Traitors.Count == 1)
                        {
                            <div><UntypedImage Src=@Skin.Current.GetImageURL(ShownPlayer.Traitors[0]) Class="img-fluid p-1" Width=60 Popover=@Popup.Get(ShownPlayer.Traitors[0], h.Game)/> is your traitor.</div>
                        }
                        else if (ShownPlayer.Traitors.Count > 0)
                        {
                            @if (ShownPlayer.Traitors.Count > 1)
                            {
                                <h5 class="mt-1 mb-0">Traitors</h5>
                            }
                            else
                            {
                                <h5 class="mt-1 mb-0">Traitor</h5>
                            }

                            @foreach (var v in ShownPlayer.Traitors)
                            {
                                var style = ShownPlayer.RevealedTraitors.Contains(v) ? "filter:brightness(150%) contrast(110%) blur(1px)" : "";
                                <UntypedImage Src=@Skin.Current.GetImageURL(v) Style=@style Class="img-fluid p-1" Width=60 Popover=@Popup.Get(v, h.Game)/>
                            }

                            @foreach (var v in ShownPlayer.DiscardedTraitors)
                            {
                                <UntypedImage Src=@Skin.Current.GetImageURL(v) Style="filter:grayscale(100%) opacity(60%)" Class="img-fluid p-1" Width=60 Popover=@Popup.Get(v, h.Game)/>
                            }
                        }

                        @if (h.CurrentPhase > Phase.DiallingStorm && h.Game.HasStormPrescience(Player))
                        {
                            <div>The next storm will move <SimpleNumberComponent>@(h.Game.NextStormMoves)</SimpleNumberComponent> sectors.</div>
                        }

                        @if (ShownPlayer.Faction == Faction.Blue && h.CurrentPhase > Phase.BluePredicting)
                        {
                            <div>Prediction: <FactionComponent Diameter=30 Faction=@ShownPlayer.PredictedFaction/><SimpleNumberComponent Size=30>@ShownPlayer.PredictedTurn</SimpleNumberComponent></div>
                        }

                        @if (ShownPlayer.Faction == Faction.Green)
                        {
                            if (h.Game.Applicable(Rule.GreenMessiah))
                            {
                                if (ShownPlayer.TotalForcesKilledInBattle >= 7)
                                {
                                    if (ShownPlayer.MessiahAvailable)
                                    {
                                        <div><img class="img-fluid m-0 p-0" width="32" height="32" src="@Skin.Current.Messiah_URL" title="@Skin.Current.Describe(Concept.Messiah)" /> is available.</div>
                                    }
                                    else
                                    {
                                        <div><img class="img-fluid m-0 p-0" width="32" height="32" src="@Skin.Current.Messiah_URL" title="@Skin.Current.Describe(Concept.Messiah)" /> has been killed.</div>
                                    }
                                }
                                else
                                {
                                    <div><img class="img-fluid m-0 p-0" width="32" height="32" src="@Skin.Current.Messiah_URL" title="@Skin.Current.Describe(Concept.Messiah)" /> will be available after <SimpleNumberComponent>@(7 - ShownPlayer.TotalForcesKilledInBattle)</SimpleNumberComponent> more forces are killed in battle.</div>
                                }
                            }
                        }

                        @if (h.Game.CurrentMainPhase == MainPhase.ShipmentAndMove && h.Game.HasResourceDeckPrescience(Player))
                        {
                            <Hoverable Popover=@Popup.Get(h.Game.ResourceCardDeck.Top)>Top card of @Name(Concept.Resource) Deck: <SimpleNumberComponent>@Name(h.Game.ResourceCardDeck.Top)</SimpleNumberComponent></Hoverable>
                        }

                        <!-- Cards -->
                        @if (ShownPlayer.TreacheryCards.Count == 0 && h.Game.GetCardSetAsideForBid(Player) == null)
                        {
                            <div>You don't own any treachery cards.</div>
                        }
                        else
                        {
                            <div class="row row-cols-2 row-cols-xl-4 ms-0 me-0 mt-1 justify-content-center">

                                @foreach (var v in ShownPlayer.TreacheryCards)
                                {
                                    <Image Shown=@v Class="img-fluid p-1"/>
                                }

                                @if (h.Game.GetCardSetAsideForBid(Player) != null)
                                {
                                    var v = h.Game.GetCardSetAsideForBid(Player);
                                    <Image Shown=@v Class="img-fluid p-1"/>
                                }

                            </div>
                        }
                    }
                </div>
            </div>
        }

    </div>
}

@code {

    [Parameter]
    public Player ShownPlayer { get; set; }

    [Parameter]
    public bool ShowHeader { get; set; } = false;

    private string PlayerColor
    {
        get
        {
            return string.Format("background-color:{0}", Skin.Current.GetFactionColorTransparant(ShownPlayer.Faction));
        }
    }

    private string ResourcesText
    {
        get
        {
            if (ShownPlayer.BankedResources > 0)
            {
                if (ShownPlayer.Bribes > 0)
                {
                    if (ShownPlayer.ResourcesAfterBidding > 0)
                    {
                        return Skin.Current.Format("{0}, {1} at end of turn, {2} at end of bidding, {3} at {4}", ShownPlayer.Resources, ShownPlayer.Bribes, ShownPlayer.ResourcesAfterBidding, ShownPlayer.BankedResources, MainPhase.Collection);
                    }
                    else
                    {
                        return Skin.Current.Format("{0}, {1} at {2}, {3} at {4}", ShownPlayer.Resources, ShownPlayer.Bribes, MainPhase.Contemplate, ShownPlayer.BankedResources, MainPhase.Collection);
                    }
                }
                else
                {
                    if (ShownPlayer.ResourcesAfterBidding > 0)
                    {
                        return Skin.Current.Format("{0}, {1} at end of {2}, {3} at {4}", ShownPlayer.Resources, ShownPlayer.ResourcesAfterBidding, MainPhase.Bidding, ShownPlayer.BankedResources, MainPhase.Collection);
                    }
                    else
                    {
                        return Skin.Current.Format("{0}, {1} at {2}", ShownPlayer.Resources, ShownPlayer.BankedResources, MainPhase.Collection);
                    }
                }
            }
            else
            {
                if (ShownPlayer.Bribes > 0)
                {
                    if (ShownPlayer.ResourcesAfterBidding > 0)
                    {
                        return Skin.Current.Format("{0}, {1} at end of turn, {2} at end of bidding", ShownPlayer.Resources, ShownPlayer.Bribes, ShownPlayer.ResourcesAfterBidding);
                    }
                    else
                    {
                        return Skin.Current.Format("{0}, {1} at {2}", ShownPlayer.Resources, ShownPlayer.Bribes, MainPhase.Contemplate);
                    }
                }
                else
                {
                    if (ShownPlayer.ResourcesAfterBidding > 0)
                    {
                        return Skin.Current.Format("{0}, {1} at end of {2}", ShownPlayer.Resources, ShownPlayer.ResourcesAfterBidding, MainPhase.Bidding);
                    }
                    else
                    {
                        return Skin.Current.Format("{0}", ShownPlayer.Resources);
                    }
                }
            }
        }
    }
}