@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent

<div class="card p-1 mb-2">
    <div class="card-body">
        @if (Game.CurrentPhase is Phase.AwaitingPlayers)
        {
            @foreach (var userId in Game.Participation.StandingPlayers)
            {
                var setOrUnsetHostText = Game.IsHost(userId) ? "Unmake Host" : "Make Host";
                    
                <div>
                    <span>
                        @Game.GetPlayerName(userId)
                    </span>
                    @if (Game.IsHost(userId))
                    {
                        <HostIcon/>
                    }
                    @if (Client.IsHost && Game.NumberOfHosts > 1)
                    {
                        <button class="btn btn-primary btn-sm" @onclick="@(_ => SetOrUnsetHost(userId))">@setOrUnsetHostText</button>
                    }
                    @if (Client.IsHost && Client.UserId != userId)
                    {
                        <button class="btn btn-primary btn-sm" @onclick="@(_ => Remove(userId, true))">Kick</button>
                    }
                    <button class="btn btn-primary btn-sm" @onclick="@(_ => Remove(userId, false))">Leave</button>
                </div>
            }
        }
        else
        {
            @foreach (var player in Game.Players.OrderBy(p => p.Seat))
            {
                var userId = Game.GetUserIdOfPlayer(player);
                var setOrUnsetHostText = Game.IsHost(userId) ? "Revoke Host" : "Promote to Host";
                var makeAvailableText = Game.SeatIsAvailable(player.Seat) ? "Don't open" : "Open";

                <div style="border-bottom: 1px solid darkgrey">
                    <FactionComponent Faction="@player.Faction" Diameter="20"/>
                    @if (Game.IsBot(player))
                    {
                        <BotIcon/>
                    }
                    else
                    {
                        <span>@Game.GetPlayerName(player)</span>
                    }
                    @if (Game.IsHost(userId))
                    {
                        <HostIcon/>
                    }
                    @if (Game.SeatIsAvailable(player.Seat))
                    {
                        <span class="badge badge-pill badge-success">open seat</span>
                    }
                    @if (Client.IsHost)
                    {
                        <button class="btn btn-primary btn-sm" @onclick="@(_ => OpenSeat(player.Seat))">@makeAvailableText seat</button>
                        @if (!Game.IsBot(player))
                        {
                            <button class="btn btn-primary btn-sm" @onclick="@(_ => Remove(userId, true))">Kick</button>
                            <button class="btn btn-primary btn-sm" @onclick="@(_ => SetOrUnsetHost(userId))">@setOrUnsetHostText</button>
                        }
                        <br>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm" @onclick="@(_ => Remove(userId, false))">Leave game</button>
                    }
                </div>
            }
        }
        <div class="text-danger">@ActionResult</div>
    </div>
</div>

@code {

    private string ActionResult { get; set; } = string.Empty;
    
    private async Task Remove(int userId, bool kick)
    {
        if (kick)
        {
            ActionResult = await Client.RequestKick(userId);
        }
        else
        {
            await Client.RequestLeaveGame();
            ActionResult = string.Empty;
        }
    }

    private async Task SetOrUnsetHost(int userId)
    {
        ActionResult = await Client.RequestSetOrUnsetHost(userId);
    }

    private async Task OpenSeat(int seatId)
    {
        ActionResult = await Client.RequestOpenOrCloseSeat(seatId);
    }
}
