@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@
@inherits GameComponent

<div class="card mb-2 shadow-lg border-light" style="opacity:0.9;animation:fadeIn90 1s">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>Active games</div>
        </div>
    </div>
    <div class="card-body">

        @if (!Client.ActiveGamesWithoutOpenSeats.Any() && !Client.ActiveGamesWithOpenSeats.Any() && !Client.ScheduledGames.Any())
        {
            <div class="text-info">No games...</div>
        }
        else
        {
            if (Client.ActiveGamesWithOpenSeats.Any())
            {
                <div class="text-info">Games with open seats (that you can join)</div>
                <table class="table table-sm table-running-games">
                    <tbody>
                    @foreach (var av in Client.ActiveGamesWithOpenSeats)
                    {
                        Passwords.TryAdd(av.GameId, string.Empty);
                        JoinErrors.TryAdd(av.GameId, string.Empty);

                        var fontColorStyle = av.LastActivity != null && DateTimeOffset.Now.Subtract((DateTimeOffset)av.LastActivity).TotalMinutes > 15 ? "color:grey" : "color:white";

                        <tr class="small table-dark">
                            <td style="@fontColorStyle">
                                <span style="font: normal normal normal 18px Advokat, Calibri, Tahoma, sans-serif;">@av.Name</span>
                            </td>
                            <td style="@fontColorStyle">
                                @if (av.Phase == Phase.AwaitingPlayers)
                                {
                                    <div>
                                        <UserIcon Size="20" Title="Players" MarginClass=""/><span class="me-1">@(av.NrOfPlayers)/@av.MaxPlayers</span>
                                    </div>
                                }
                                else
                                {
                                    <div style="display: inline-block;">
                                        <UserIcon Size="20" Title="Players" MarginClass=""/><span class="me-1">@av.NrOfPlayers</span>
                                    </div>
                                    @if (av.NrOfBots > 0)
                                    {
                                        <div style="display: inline-block;"><BotIcon Size="16" Title="Bots" MarginClass="me-1"/><span>@av.NrOfBots</span></div>
                                    }
                                }
                            </td>
                            <td style="@fontColorStyle">
                                @if (av.Phase == Phase.AwaitingPlayers)
                                {
                                    <div>
                                        @Name(av.Ruleset), @av.MaxTurns turns, not yet started
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        @Name(av.Ruleset), Turn @av.Turn: @Name(av.MainPhase)
                                    </div>
                                    <div>
                                        @foreach (var f in av.FactionsInPlay)
                                        {
                                            <Image Shown="f" Width="18" Shadow=""/>
                                        }
                                    </div>
                                }
                            </td>
                            <td>
                                @if (!av.YouAreIn(Client.UserId))
                                {
                                    if (av.HasPassword)
                                    {
                                        <input class="form-inline form-control-sm" style="max-width:80px" @bind="Passwords[av.GameId]" maxlength="24" placeholder="Game password"/>
                                    }
                                    if (av.Phase == Phase.AwaitingPlayers)
                                    {
                                        <CommandButton Small OnClick="@(_ => JoinGameAsPlayer(av.GameId, Passwords[av.GameId], -1))" MarginClass="m-1">Join</CommandButton>
                                    }
                                    else if (av.Phase != Phase.SelectingFactions)
                                    {
                                        foreach (var availableSeat in av.AvailableSeats)
                                        {
                                            <CommandButton 
                                                Small 
                                                OnClick="@(_ => JoinGameAsPlayer(av.GameId, Passwords[av.GameId], availableSeat.Seat))" 
                                                MarginClass="m-1"
                                                PaddingClass="p-1"
                                                Title="@JoinButtonTitle(availableSeat.Faction)">
                                                <FactionComponent Faction="@availableSeat.Faction" Diameter="20"/>
                                            </CommandButton>
                                        }
                                    }
                                    <CommandButton Small OnClick="@(_ => JoinGameAsObserver(av.GameId, Passwords[av.GameId]))" MarginClass="m-1">Observe</CommandButton>
                                }
                                else
                                {
                                    <CommandButton Small OnClick="@(_ => JoinGameAsPlayer(av.GameId, string.Empty, av.YourCurrentSeat(Client.UserId)))" MarginClass="m-1">Resume</CommandButton>
                                }
                                <div class="text-danger">@JoinErrors[av.GameId]</div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            if (Client.ScheduledGames.Any())
            {
                <div class="text-info">Scheduled games</div>
                <table class="table table-sm table-scheduled-games">
                        <thead>
                        <tr class="small table-dark">
                            <th scope="col">Host</th>
                            <th scope="col">When</th>
                            <th scope="col">Game info</th>
                            <th scope="col">Subscribers</th>
                            <th scope="col">Join?</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var game in Client.ScheduledGames)
                        {
                            <tr class="small table-dark">
                                <td>
                                    <span style="font: normal normal normal 18px Advokat, Calibri, Tahoma, sans-serif;">@game.CreatorName</span>
                                </td>
                                <td>
                                    @game.DateTime.ToLocalTime().ToString("dd-MM HH:mm")
                                </td>
                                <td>
                                    <div>
                                        @Name(game.Ruleset), @game.NumberOfPlayers players, @game.MaximumTurns turns
                                        @if (game.AllowedFactionsInPlay.Count == 12)
                                        {
                                            <span> (all factions)</span>
                                        }
                                        else
                                        {
                                            <div>
                                                @foreach (var f in game.AllowedFactionsInPlay)
                                                {
                                                    <Image Shown="f" Width="18" Shadow=""/>
                                                }
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @foreach (var p in game.Subscribers.Where(u => u.Value != SubscriptionType.DontParticipate))
                                    {
                                        <div class="me-1">
                                            <span style="font: normal normal normal 15px Advokat, Calibri, Tahoma, sans-serif;">@game.SubscriberNames.GetValueOrDefault(p.Key, "?")</span>
                                            <span class="badge text-bg-primary ms-1">@Name(p.Value)</span>
                                        </div>
                                    }                                    
                                </td>
                                <td>
                                    <SubscribeComponent ScheduledGame="@game"/>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
            }
            if (Client.ActiveGamesWithoutOpenSeats.Any())
            {
                <div class="text-info">Games without open seats</div>
                <table class="table table-sm table-running-games">
                    <tbody>
                    @foreach (var av in Client.ActiveGamesWithoutOpenSeats)
                    {
                        Passwords.TryAdd(av.GameId, string.Empty);
                        JoinErrors.TryAdd(av.GameId, string.Empty);

                        var fontColorStyle = av.LastActivity != null && DateTimeOffset.Now.Subtract((DateTimeOffset)av.LastActivity).TotalMinutes > 20 ? "color:grey" : "color:white";

                        <tr class="small table-dark">
                            <td style="@fontColorStyle">
                                <span style="font: normal normal normal 18px Advokat, Calibri, Tahoma, sans-serif;">@av.Name</span>
                            </td>
                            <td style="@fontColorStyle">
                                <div style="display: inline-block;">
                                    <UserIcon Size="20" Title="Players" MarginClass=""/><span class="me-1">@av.NrOfPlayers</span>
                                </div>
                                @if (av.NrOfBots > 0)
                                {
                                    <div style="display: inline-block;"><BotIcon Size="16" Title="Bots" MarginClass="me-1"/><span>@av.NrOfBots</span></div>
                                }
                            </td>
                            <td style="@fontColorStyle">
                                @if (av.Phase == Phase.AwaitingPlayers)
                                {
                                    <div>
                                        @Name(av.Ruleset), @av.MaxTurns turns
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <div>
                                           @Name(av.Ruleset), Turn @av.Turn: @Name(av.MainPhase)
                                        </div>
                                        <div>
                                            @foreach (var f in av.FactionsInPlay)
                                            {
                                                <Image Shown="f" Width="18" Shadow=""/>
                                            }
                                        </div>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (!av.YouAreIn(Client.UserId))
                                {
                                    <CommandButton Small OnClick="@(_ => JoinGameAsObserver(av.GameId, Passwords[av.GameId]))" MarginClass="m-1">Observe</CommandButton>
                                }
                                else
                                {
                                    <CommandButton Small OnClick="@(_ => JoinGameAsPlayer(av.GameId, string.Empty, av.YourCurrentSeat(Client.UserId)))" MarginClass="m-1">Resume</CommandButton>
                                }
                                <div class="text-danger">@JoinErrors[av.GameId]</div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

@code {

    private Dictionary<string, string> JoinErrors { get; } = [];
    private Dictionary<string, string> Passwords { get; } = [];

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StartRedrawCycle(IGameService.HeartbeatDelay);
        }
    }

    private async Task JoinGameAsPlayer(string gameId, string password, int seat)
    {
        JoinErrors[gameId] = await Client.RequestJoinGame(gameId, password, seat);
    }

    private async Task JoinGameAsObserver(string gameId, string password)
    {
        JoinErrors[gameId] = await Client.RequestObserveGame(gameId, password);
    }

    private string JoinButtonTitle(Faction faction) => $"Join as {Name(faction)}";
}
