<!--
 * Copyright 2020-2021 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using Treachery.Client.GenericComponents;
@inherits GameComponent;
@inject IJSRuntime JSRuntime;

<JsPanel Width="@Width" Height="500" ContentOverflow="hidden"
         HeaderShown="false" Autoclose="@Time" Opacity="0.9f" Position="JsPanel.PanelPosition.Center" Theme="@JsPanelTheme.TRANSPARANT" ShadowHeight="0" Resizable="false">

    @if (h.Game.CurrentPhase == Phase.GameEnded)
    {
        <div class="row m-0 p-0 bg-transparent justify-content-center">
            @foreach (var p in h.Game.Winners)
            {
                <img src="@Skin.Current.GetImageURL(p.Faction)" style="width:360px; height:360px;" />
            }
        </div>
    }
    else if (h.Game.CurrentPhase == Phase.BattleConclusion && h.Game.BattleWinner != Faction.None)
    {
        <div class="row m-0 p-0 bg-transparent justify-content-center">
            <img src="@Skin.Current.GetImageURL(h.Game.BattleWinner)" style="width:360px; height:360px;" />
        </div>
    }

</JsPanel>

@code {

    private int Width
    {
        get
        {
            if (h.Game.CurrentPhase == Phase.GameEnded)
            {
                return h.Game.Winners.Count * 360;
            }
            else if (h.Game.CurrentPhase == Phase.BattleConclusion)
            {
                return 500;
            }
            else
            {
                return 0;
            }
        }
    }

    private string Time
    {
        get
        {
            if (h.Game.CurrentPhase == Phase.GameEnded)
            {
                return "8s";
            }
            else if (h.Game.CurrentPhase == Phase.BattleConclusion)
            {
                return "3s";
            }
            else
            {
                return "3s";
            }
        }
    }
}