@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

@page "/admin/"
@using System.Globalization
@using Treachery.Client.OtherComponents
@implements IDisposable

@if (!Client.IsConnected)
{
    <div class="row d-flex align-items-center" style="@StartScreenStyle">
        <div class="d-flex justify-content-center">
            Not Connected
        </div>
    </div>
}
else if (!Client.LoggedIn)
{
    <div class="row d-flex align-items-center" style="@StartScreenStyle">
        <div class="col-sm-12 col-lg-3"></div>
        <div class="col-sm-12 col-lg-6">
            <div class="d-flex justify-content-center">
                <LoginComponent  />
            </div>
        </div>
        <div class="col-sm-12 col-lg-3"></div>
    </div>
}
else 
{
    <div class="row" style="@StartScreenStyle">
        <div class="card mb-2">
            <div class="card-header">Server info</div>
            <div class="card-body">
                <h3 class="h3">Info</h3>
                <button class="btn btn-primary me-1" @onclick="@GetAdminInfo">Get admin info</button>
                <h3 class="h3">Maintenance window</h3>
                <input type="text" class="form-control" @bind="@MaintenanceDate" @bind:event="oninput"/>
                <button class="btn btn-primary me-1" @onclick="@UpdateMaintenance" disabled="@(!MaintenanceDateIsValid)">Ok</button>
                <h3 class="h3">Persist data</h3>
                <button class="btn btn-primary me-1" @onclick="@PersistState">Persist data</button>
                <h3 class="h3">Restore persisted data</h3>
                <button class="btn btn-primary me-1" @onclick="@RestoreState">Restore data</button>
            </div>
        </div>
        @if (Client.AdminInfo != null)
        {
            <div class="card mb-2">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <p><strong>Users by User Token: </strong>@Client.AdminInfo.UsersByUserTokenCount</p>
                    <p><strong>Games by Game Id: </strong>@Client.AdminInfo.GamesByGameIdCount</p>
                    <p><strong>Total Users: </strong>@Client.AdminInfo.Users.Count</p>
                    <p><strong>ConnectionInfo by UserId: </strong>@Client.AdminInfo.ConnectionInfoByUserIdCount</p>
                    <table class="table table-sm">
                        <thead>
                            <tr class="small table-dark">
                                <th class="w-10">User id</th>
                                <th class="w-15">Username</th>
                                <th class="w-15">Player name</th>
                                <th class="w-50">Email</th>
                                <th class="w-15">Last login</th>
                                <th class="w-10">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var av in Client.AdminInfo.Users)
                        {
                            <tr class="small table-dark">
                                <td class="w-10">@av.Id</td>
                                <td class="w-15">@av.Name</td>
                                <td class="w-15">@av.PlayerName</td>
                                <td class="w-50">@av.Email</td>
                                <td class="w-15">
                                    @if (av.LastLogin != default)
                                    {
                                        @av.LastLogin.LocalDateTime   
                                    }
                                </td>
                                <td class="w-10"><button class="btn btn-primary btn-sm me-1" @onclick="@(_ => DeleteUser(av))">Delete</button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>            
        }
        <div class="card mb-2">
            <div class="card-header">Running games</div>
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                    @foreach (var av in Client.RunningGamesWithOpenSeats.OrderByDescending(av => av.LastAction))
                    {
                    var fontColorStyle = av.LastAction != null && DateTimeOffset.Now.Subtract((DateTimeOffset)av.LastAction).TotalMinutes > 20 ? "color:grey" : "color:white";

                    <tr class="small table-dark">
                        <td class="w-25" style="@fontColorStyle">
                            @av.GameName
                        </td>
                        <td class="w-25">
                            <button class="btn btn-primary btn-sm me-1" @onclick="@(_ => Close(av))">Close</button>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">Log</div>
            <div class="card-body">
                @foreach (var m in Messages)
                {
                <div>@m</div>
                }
            </div>
        </div>
    </div>
}

@code {

    private string MaintenanceDate { get; set; }
    private List<string> Messages { get; } = [];

    protected override async Task OnInitializedAsync()
    {
        Client.RefreshHandler += StateHasChanged;
        await Client.Start();
        MaintenanceDate = Client.ServerInfo.ScheduledMaintenance.ToString(CultureInfo.CurrentUICulture);
    }

    public void Dispose()
    {
        Client.RefreshHandler += StateHasChanged;
    }
    
    private const string StartScreenStyle = "min-height: 97vh; background-image: url('art/planet.png'); background-size: 1024px; background-position-x: center; background-position-y: -50px; background-repeat: no-repeat;";

    private async Task UpdateMaintenance()
    {
        DateTimeOffset.TryParse(MaintenanceDate, CultureInfo.CurrentUICulture, DateTimeStyles.AssumeUniversal, out var date);
        Messages.Add(await Client.AdminUpdateMaintenance(date));
        StateHasChanged();
    }
    
    private async Task GetAdminInfo()
    {
        Messages.Add(await Client.GetAdminInfo());
        StateHasChanged();
    }
    
    private async Task PersistState()
    {
        Messages.Add(await Client.AdminPersistState());
        StateHasChanged();
    }
    
    private async Task RestoreState()
    {
        Messages.Add(await Client.AdminRestoreState());
        StateHasChanged();
    }

    private async Task Close(GameInfo av)
    {
        Messages.Add(await Client.AdminCloseGame(av.GameId));
        StateHasChanged();
    }
    
    private async Task DeleteUser(UserInfo av)
    {
        Messages.Add(await Client.AdminDeleteUser(av.Id));
        StateHasChanged();
    }

    private bool MaintenanceDateIsValid => DateTimeOffset.TryParse(MaintenanceDate, CultureInfo.CurrentUICulture, DateTimeStyles.AssumeUniversal, out _);
}
