<!--
* Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared
@inherits MapComponent

<div @ref=@element>

    @if (Game.CurrentPhase > Phase.SelectingFactions)
    {
        var techtokenOrbitRadius = 1.01f * Skin.Current.MapRadius;

        foreach (var p in Game.Players)
        {
            float radiusModifier = 1;
            var position = PlayerTokenPosition(Game, p.PositionAtTable);
            if (h.HighlightPlayer(p))
            {
                radiusModifier = 1.5f;
            }

            var x = position.X - radiusModifier * Skin.Current.PlayerTokenRadius;
            var y = position.Y - radiusModifier * Skin.Current.PlayerTokenRadius;
            var factionTokenDiameter = (radiusModifier * Skin.Current.PlayerTokenRadius * 2);


            <Circle X="@position.X" Y="@position.Y" Radius="@(1.35f * Skin.Current.PlayerTokenRadius)" FillColor="@Skin.Current.TABLEPOSITION_BACKGROUNDCOLOR" />

            var factionLogoIsOnRightSideOfMap = x > 0.5f * Skin.Current.PlanetCenter.X;
            var videoposition = factionLogoIsOnRightSideOfMap ? x + factionTokenDiameter + 1 : x - 2*factionTokenDiameter - 1;
            if (p == h.Player && EnableCameras)
            {
                <Videocapture h=@h X=@videoposition Y=(y-0.5f*factionTokenDiameter) Width=2*factionTokenDiameter Height=2*factionTokenDiameter SymbolOnRight=!factionLogoIsOnRightSideOfMap/>
            }
            else
            {
                <Videostream h=@h X=@videoposition Y=(y-0.5f*factionTokenDiameter) Width=2*factionTokenDiameter Height=2*factionTokenDiameter StreamId=@DetermineVideoStreamId(p)/>
            }

            <Image X="@(x)" Y="@(y)" Diameter=@factionTokenDiameter Src="@Skin.Current.GetFactionTableImageURL(p.Faction)" 
                   ShadowColor="@Skin.Current.SHADOW" ShadowX="1" ShadowY="1" ShadowBlur="1" 
                   Popover="@Intel(p)"/>

            if (p.Ally != Faction.None)
            {
                <Image X="@(position.X)" Y="@(position.Y + 0.25f * Skin.Current.PlayerTokenRadius)" Diameter=@(1.2f * Skin.Current.PlayerTokenRadius) Src="@Skin.Current.GetFactionTableImageURL(p.Ally)" 
                       ShadowColor="@Skin.Current.SHADOW" ShadowX="1" ShadowY="1" ShadowBlur="1" 
                       Popover="@Intel(p.AlliedPlayer)"/>
            }

            var positionSector = Math.Floor((float)p.PositionAtTable * Map.NUMBER_OF_SECTORS / Game.MaximumNumberOfPlayers);
            double ttRad = (TWOPI / 180) + 0.02 + (4.5 - positionSector) * TWOPI / Map.NUMBER_OF_SECTORS;

            foreach (var tt in p.TechTokens)
            {
                ttRad += (TWOPI / 90);
                <Image X="@(Skin.Current.PlanetCenter.X + (float)(Math.Cos(ttRad) * techtokenOrbitRadius) - Skin.Current.PlayerTokenRadius)"
                       Y="@(Skin.Current.PlanetCenter.Y + (float)(Math.Sin(ttRad) * techtokenOrbitRadius) - Skin.Current.PlayerTokenRadius)"
                       Diameter=@(2 * Skin.Current.PlayerTokenRadius)
                       Src="@Skin.Current.GetImageURL(tt)" ShadowColor="@Skin.Current.SHADOW" ShadowX="1" ShadowY="1" ShadowBlur="1" 
                       Popover="@Support.GetHoverHTML(tt)" PopoverStyle=""/>
            }

            var skilledLeader = Game.GetSkilledLeader(p);
            if (skilledLeader != null)
            {
                ttRad += (TWOPI / 90);
                var ttx = Skin.Current.PlanetCenter.X + (float)(Math.Cos(ttRad) * techtokenOrbitRadius) - Skin.Current.PlayerTokenRadius;
                var tty = Skin.Current.PlanetCenter.Y + (float)(Math.Sin(ttRad) * techtokenOrbitRadius) - Skin.Current.PlayerTokenRadius;

                if (Game.IsInFrontOfShield(skilledLeader)) {

                    <Image X="@(ttx)"
                           Y="@(tty)"
                           Diameter=@(2 * Skin.Current.PlayerTokenRadius)
                           Src="@Skin.Current.GetImageURL(skilledLeader)" ShadowColor="@Skin.Current.SHADOW" ShadowX="1" ShadowY="1" ShadowBlur="1" 
                           Popover="@Support.GetSkilledLeaderHTML(skilledLeader, h.Game.Skill(skilledLeader))" PopoverStyle=""/>
                }

                <MapText ToShow="@Skin.Current.Describe(Game.Skill(skilledLeader))"
                         X="@(ttx + Skin.Current.PlayerTokenRadius)" Y="@(tty + Skin.Current.PlayerTokenRadius)"
                         Font="@Skin.Current.SKILL_FONT" FontColor="@Skin.Current.SKILL_FONTCOLOR"
                         BorderWidth="@Skin.Current.SKILL_FONT_BORDERWIDTH" BorderColor="@Skin.Current.SKILL_FONT_BORDERCOLOR"
                         Align="@TextAlignment.Center" MaxWidth="2.2f * Skin.Current.PlayerTokenRadius"
                         Popover="@Support.GetSkilledLeaderHTML(skilledLeader, h.Game.Skill(skilledLeader))" PopoverStyle=""/>
            }

            if (p.Faction == Faction.White && Game.LatestRevealedNoFieldValue >= 0)
            {
                ttRad += (TWOPI / 90);
                var ttx = Skin.Current.PlanetCenter.X + (float)(Math.Cos(ttRad)) * techtokenOrbitRadius - Skin.Current.FORCETOKEN_RADIUS;
                var tty = Skin.Current.PlanetCenter.Y + (float)(Math.Sin(ttRad)) * techtokenOrbitRadius - Skin.Current.FORCETOKEN_RADIUS;

                <Image X="@(ttx)" Y="@(tty)" Diameter=@(2 * Skin.Current.FORCETOKEN_RADIUS) Src="@Skin.Current.FactionSpecialForceImage_URL[Faction.White]" 
                       ShadowColor="@Skin.Current.SHADOW" ShadowX="1" ShadowY="1" ShadowBlur="1"
                       Popover="@Skin.Current.Format("Latest revealed No-Field: {0}", Game.LatestRevealedNoFieldValue)"/>

                <MapText ToShow="@Game.LatestRevealedNoFieldValue.ToString()"
                         X="@(ttx + Skin.Current.FORCETOKEN_RADIUS)" Y="@(tty + Skin.Current.FORCETOKEN_RADIUS)"
                         Font="@Skin.Current.FORCETOKEN_FONT" FontColor="@Skin.Current.FORCETOKEN_FONTCOLOR"
                         BorderWidth="@Skin.Current.FORCETOKEN_FONT_BORDERWIDTH" BorderColor="@Skin.Current.FORCETOKEN_FONT_BORDERCOLOR"
                         Align="@TextAlignment.Center"/>
            }

            <MapText ToShow="@p.Name"
                     X="@position.X" Y="@y"
                     Font="@Skin.Current.PLAYERNAME_FONT" FontColor="@Skin.Current.PLAYERNAME_FONTCOLOR"
                     BorderWidth="@Skin.Current.PLAYERNAME_FONT_BORDERWIDTH" BorderColor="@Skin.Current.PLAYERNAME_FONT_BORDERCOLOR"
                     Align="TextAlignment.Center" MaxWidth="6 * Skin.Current.PlayerTokenRadius"/>
        }
    }

</div>

@code {

    private Situation situation = new();
    protected override bool ShouldRender() => situation.RequiresUpdate(Game);

    private bool EnableCameras => h.VideoDevice != null && Game.Players.Count(p => !p.IsBot) > 1 && h.Player != null;

    private string Intel(Player p)
    {
        string result = Skin.Current.Format("<p><strong>{0} plays {1}</strong></p>", p.Name, p.Faction);

        foreach (var v in LeaderManager.Leaders.Where(l => l.Faction == p.Faction))
        {
            result += Support.GetLeaderHTML(v);
        }

        result += "<div class=\"row m-0 mt-1 justify-content-center\">";

        result += "<div class=\"col-2 col-lg-1 p-0\">Reserves:</div>";

        result += string.Format("<div class=\"col-2 col-lg-1 p-0\"><img class=\"img-fluid m-0 p-0\" width=\"24\" height=\"24\" src=\"{0}\" title=\"{1}\" /><strong>&nbsp;{2}</strong></div>",
            Skin.Current.GetFactionForceImageURL(p.Faction),
            p.ForceName,
            p.ForcesInReserve);

        if (p.HasSpecialForces)
        {
            result += string.Format("<div class=\"col-2 col-lg-1 p-0\"><img class=\"img-fluid m-0 p-0\" width=\"24\" height=\"24\" src=\"{0}\" title=\"{1}\" /><strong>&nbsp;{2}</strong></div>",
                Skin.Current.GetFactionSpecialForceImageURL(p.Faction),
                p.SpecialForceName,
                p.SpecialForcesInReserve);
        }

        result += "</div>";

        result += "<div class=\"mt-1 text-start\">" + Skin.Current.GetFactionInfo_HTML(h.Game, p.Faction) + "</div>";
        return result;
    }

    private string IntelOfTechtokensAndSkilledLeaders(Player p)
    {
        string result = "";

        if (p.Faction == Faction.White && h.Game.LatestRevealedNoFieldValue >= 0)
        {
            result += string.Format("<div class=\"mt-1\">Latest revealed No-Field value: <strong>{0}</strong></div>", h.Game.LatestRevealedNoFieldValue);
        }

        foreach (var v in p.TechTokens)
        {
            result += Support.GetHoverHTML(v);
        }

        var skilledLeader = h.Game.GetSkilledLeader(p);
        if (skilledLeader != null && h.Game.IsInFrontOfShield(skilledLeader))
        {
            result += Support.GetSkilledLeaderHTML(skilledLeader, h.Game.Skill(skilledLeader));
        }

        return result;
    }

    private string DetermineVideoStreamId(Player p) => "video" + p.PositionAtTable;

} 