@using Treachery.Shared
@inherits MapComponent
 
<svg width="563" height="626" viewBox="0 0 563 626" 
     version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" 
     style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%;" pointer-events="none">

    <clipPath id="@ClipId">
        @if (SpecificLocation != null && SpecificLocation != Game.Map.PolarSink)
        {
            <path d="
                M @(ScaleX * Skin.Current.PlanetCenter.X),@(ScaleY * Skin.Current.PlanetCenter.Y)
                L @(ScaleX * StartX(SpecificLocation.Sector)),@(ScaleY * StartY(SpecificLocation.Sector)) 
                A @(ScaleX * Skin.Current.PlanetRadius) @(ScaleY * Skin.Current.PlanetRadius) @Angle 0 0 @(ScaleX * EndX(SpecificLocation.Sector)) @(ScaleY * EndY(SpecificLocation.Sector))
                Z"/>
        }
        else
        {
            <rect x="0" y="0" width="563" height="626"/>
        }
    </clipPath>
    
    <g clip-path="url(#@ClipId)">
        <g transform="matrix(0.992126,0,0,0.99369,-140.572,-114.998)"
           fill="@FillColor" fill-opacity="@FillOpacity"
           stroke="@StrokeColor" stroke-width="@Px(StrokeWidth)" stroke-linecap="@StrokeLinecap" stroke-linejoin="@StrokeLinejoin"
           cursor="pointer" pointer-events="all" @onclick="@OnClick">
           <title>@Title</title>

            @switch (ToShow.Id)
            {
                case 3:
                    {
                        <path d="M486.2757,223.30516L485.19315,227.16551L487.79163,237.5098L486.74036,242.66632L480.70883,253.65869L473.84375,261.62494L474.7408,269.2823L488.28653,279.59534L492.18323,288.73602L499.17227,287.53143L505.6372,289.5713L528.0699,250.77852L527.8048,241.16888L515.1793,226.71266L502.50354,222.73557L486.2757,223.30516Z" />
                    }
                    break;

                case 2:
                    {
                        <path d="M431.6191,299.3681L441.51608,275.77826L441.60883,257.15878L436.91687,248.8111L421.34317,245.76486L413.22626,250.41722L394.36365,255.6734L401.27914,294.83148L405.41165,295.12433L411.75162,302.19595L419.0501,299.4476L431.6191,299.3681Z" />
                    }
                    break;

                case 5:
                    {
                        <path d="M271.48163,351.24545L276.62213,333.81448L273.71524,330.6958L273.1891,325.75558L270.62186,323.74792L270.3749,317.51056L264.68408,307.908L262.68637,298.4272L253.61995,294.04752L233.53676,312.07928L232.84933,317.03458L228.53535,324.7734L223.30414,326.48825L221.81543,335.10358L231.81921,346.1211L237.35483,346.88293L242.69994,343.79544L255.33849,349.20862L263.20343,349.09387L271.48163,351.24545Z" />
                    }
                    break;

                case 6:
                    {
                        <path d="M282.42386,548.481L271.8334,527.2762L271.26797,519.69934L268.62814,513.2517L254.91212,509.9569L240.25266,515.0872L233.65266,525.8643L239.26186,545.5837L259.61618,567.58856L282.42386,548.481Z" />
                    }
                    break;

                case 4:
                    {
                        <path d="M596.6491,565.9542L616.10736,548.6672L624.7636,533.16534L624.6094,520.6906L628.13916,508.50577L614.94727,504.55682L609.75433,499.29562L599.06415,498.0377L588.72974,495.49966L580.0423,510.76703L578.858,522.34L582.3212,538.61273L580.83655,552.26086L582.5692,559.5478L596.6491,565.9542Z" />
                    }
                    break;

                case 20:
                    {
                        <path d="M499.82138,312.7888L512.0497,304.08084L511.93076,300.76492L519.1234,296.45874L519.6243,293.5363L522.92633,293.34207L523.638,289.0188L531.6158,275.14023L533.8927,264.11163L538.3307,258.69647L538.2974,248.6209L534.94403,247.12848L531.2792,250.77852L528.0699,250.77852L505.6372,289.5713L499.1491,300.79108L500.28604,307.07675L498.33768,310.25684L499.82138,312.7888Z" />
                    }
                    break;

                case 38:
                    {
                        <path d="M346.25668,439.5748L327.1169,441.3802L324.79764,447.49374L314.46826,452.3112L313.76474,454.74554L312.05527,456.26312L311.79922,470.17892L312.5814,472.81354L312.24072,479.97675L296.43823,497.17627L292.08493,507.85162L294.71365,510.7539L297.49658,516.12683L297.6518,523.4138L292.57983,527.8297L293.5636,539.1481L301.91943,556.9776L303.4656,571.9229L312.61972,577.9016L321.52185,577.9016L319.5896,547.217L329.6297,535.7809L336.86673,502.87018L346.1055,457.71225L346.25668,439.5748Z" />
                    }
                    break;

                case 13:
                    {
                        <path d="M596.6491,565.9542L582.5692,559.5478L580.83655,552.26086L582.3212,538.61273L578.858,522.34L580.0423,510.76703L565.33746,499.3862L558.3988,499.73642L544.8733,490.958L537.8378,492.13043L524.1671,480.53122L517.0027,494.7117L512.9699,494.66238L506.38208,484.55765L501.17606,465.29208L494.21826,459.40897L489.0082,459.89L484.11667,478.589L475.26294,478.07373L471.82687,475.4049L469.2687,475.48135L469.61243,487.64212L465.79535,499.62573L480.35403,524.8036L502.03784,552.43994L517.8272,567.6208L531.9908,574.32104L540.9292,584.1098L543.58813,595.75024L548.1964,602.6981L558.9592,604.8587L565.79407,604.427L571.1129,602.14154L572.2882,598.7451L576.89655,592.16864L578.5354,581.51544L585.35114,573.80676L596.6491,565.9542Z" />
                    }
                    break;

                case 14:
                    {
                        <path d="M478.318,454.7435L485.41895,437.6275L485.38065,431.71924L487.44287,429.0484L486.569,406.66815L473.7722,388.17447L461.40378,379.34174L456.66946,388.64243L446.81787,397.98236L446.83096,403.00806L456.1423,402.94366L464.43765,414.7109L461.8674,429.0484L454.27054,439.69153L449.78018,449.82248L463.44586,461.2717L478.318,454.7435Z" />
                    }
                    break;

                case 30:
                    {
                        <path d="M379.047,390.56454L331.43997,350.6799L331.5992,344.2151L327.35883,340.01355L325.10706,329.29898L322.16492,321.65173L323.7756,318.68094L324.33398,309.1307L326.37204,301.53375L324.8934,297.77505L329.80713,287.17517L336.64798,276.28845L338.6659,268.23767L343.15326,266.0227L346.17706,261.70746L351.60077,257.99805L353.6066,253.24005L355.9561,253.0589L363.41785,237.45343L365.52246,236.68257L366.04758,226.06557L367.30753,222.30081L351.1573,224.58725L341.345,232.89767L322.13968,232.89767L309.04355,228.55226L300.83487,239.64526L290.8311,245.7065L282.60123,258.50525L272.8716,287.2748L262.68637,298.4272L264.68408,307.908L270.3749,317.51056L270.62186,323.74792L273.1891,325.75558L273.71524,330.6958L276.62213,333.81448L271.48163,351.24545L268.8761,360.0822L265.78275,360.39117L263.64893,364.83823L263.13892,370.23526L328.16214,393.86438L363.45718,406.6903L379.047,390.56454Z" />
                    }
                    break;

                case 16:
                    {
                        <path d="M628.13916,508.50577L637.10785,482.81564L641.37646,474.1691L642.14954,460.33682L640.23145,453.8831L641.31396,451.90662L639.21136,446.5961L641.2525,437.45642L647.2215,429.0484L647.7779,421.30655L641.49945,421.3991L632.3453,409.82007L629.9948,397.0988L633.79877,386.9095L642.6747,380.2394L643.54047,376.1637L659.1928,359.45523C655.7265,347.82184 651.3158,336.21762 645.94543,324.865L636.37103,325.10452L633.4016,327.3275L629.90704,325.6288L620.9072,332.05133L614.1661,328.0068L599.22845,332.45288L594.21796,327.04977L582.12573,327.6053L578.477,324.70297L575.9118,316.00812L557.42615,330.94836L552.15765,344.4425L545.13226,351.11362L540.81726,352.4098L540.4736,355.8787L537.41956,359.34756L530.39417,362.51154L530.4304,378.0858L536.66754,391.21664L537.34393,412.8512L533.4583,429.0484L520.7694,463.85703L524.1671,480.53122L537.8378,492.13043L544.8733,490.958L558.3988,499.73642L565.33746,499.3862L580.0423,510.76703L588.72974,495.49966L599.06415,498.0377L609.75433,499.29562L614.94727,504.55682L628.13916,508.50577Z" />
                    }
                    break;

                case 23:
                    {
                        <path d="M477.6568,393.78888L490.2661,387.25162L493.5117,383.0964L506.53125,378.33136L512.86914,378.71277L516.22864,371.77496L520.16156,369.86896L523.36884,365.67548L537.41956,359.34756L540.4736,355.8787L540.81726,352.4098L545.13226,351.11362L552.15765,344.4425L557.42615,330.94836L584.8784,308.76135L594.15643,291.41693L594.3006,287.19733L580.7932,282.53488L563.95557,285.08902L552.69183,299.6509L552.3098,305.14053L535.7776,317.7199L529.01935,318.368L494.88654,338.07635L486.86835,339.5627L475.87173,357.74646L477.39874,361.17712L461.40378,379.34174L473.7722,388.17447L477.6568,393.78888Z" />
                    }
                    break;

                case 32:
                    {
                        <path d="M189.06644,365.45914L197.56842,367.03308L202.48616,372.34357L213.52713,371.38654L228.21686,366.72412L230.90703,368.5144L238.36075,372.1272L242.10324,375.98755L253.45262,375.15332L263.13892,370.23526L263.64893,364.83823L265.78275,360.39117L268.8761,360.0822L271.48163,351.24545L263.20343,349.09387L255.33849,349.20862L242.69994,343.79544L237.35483,346.88293L231.81921,346.1211L221.81543,335.10358L223.30414,326.48825L228.53535,324.7734L232.84933,317.03458L233.53676,312.07928L231.65392,309.9881L226.91861,309.68622L217.58812,300.02325C204.63104,320.7581 195.09595,343.10004 189.06644,365.45914Z" />
                    }
                    break;

                case 40:
                    {
                        <g transform="matrix(1.00794,0,0,1.00635,141.688,115.728)">
                            <path d="M178.418,459.257L169.586,459.257L160.504,453.316L158.97,438.465L150.68,420.748L149.704,409.501L154.736,405.113L154.582,397.872L151.821,392.533L149.213,389.649L140.11,387.412L129.213,381.506L123.694,381.766L117.343,375.875L106.294,374.954L53.248,394.261C71.319,445.448 110.679,493.498 159.846,521.299L179.479,487.293L183.095,466.833L178.418,459.257ZM139.628,430.022L129.121,408.951L128.56,401.422L125.941,395.015L112.333,391.741L97.789,396.839L91.241,407.548L96.806,427.143L117,449.009L139.628,430.022Z" />
                        </g>
                    }
                    break;

                case 0:
                    {
                        <path d="M387.05408,415.2644L379.75558,429.0484L377.2569,443.95242L382.4891,449.88184L385.9776,450.11734L392.42133,456.3275L400.5423,459.7179L407.83478,458.70248L412.3735,466.82474L417.4122,471.91486L432.65326,472.47842L445.03583,463.7262L445.51056,455.1531L449.78018,449.82346L454.27054,439.69153L461.8674,429.0484L464.43765,414.7109L456.1423,402.94366L446.83096,403.00806L442.40005,404.84366L435.3767,404.60815L430.208,399.46472L424.9123,399.43152L420.36044,402.87424L411.5601,405.8369L398.6595,406.99524L387.05408,415.2644Z" />
                    }
                    break;

                case 28:
                    {
                        <path d="M401.27914,294.83148L405.41165,295.12433L411.75162,302.19595L419.0501,299.4476L431.6191,299.3681L427.6922,324.75024L430.3824,334.0751L430.15457,352.5185L432.28537,354.99008L431.7572,359.18353L431.87415,377.59875L433.3084,381.90793L430.208,399.46472L424.9123,399.43152L420.36044,402.87424L411.5601,405.8369L402.15503,389.57227L403.12668,377.1147L401.4414,371.4087L397.45096,366.90024L396.70914,349.48535L398.5476,332.28882L405.4369,318.37L401.27914,294.83148Z" />
                    }
                    break;

                case 8:
                    {
                        <path d="M480.54352,591.9211L469.15884,593.0281L455.11823,599.68506L445.20316,599.9226L421.73325,605.31256L389.1264,604.89294L372.17386,597.1924L361.4453,598.29834L352.12894,592.77045L353.50375,581.449L360.75793,571.99536L363.12558,556.78436L361.4453,551.14276L367.98688,546.14124L377.27502,554.71936L407.59085,557.65485L412.37152,554.19403L423.89426,554.0672L449.9616,570.4838L458.16223,565.1743L468.0612,550.39606L472.22098,565.00726L485.31613,582.0478L480.54352,591.9211Z" />
                    }
                    break;

                case 31:
                    {
                        <path d="M411.5601,405.8369L402.15503,389.57227L403.12668,377.1147L401.4404,371.4087L397.45096,366.90024L396.70914,349.48535L398.5476,332.28882L405.4369,318.37L396.62546,268.47818L381.2604,275.79636L377.03616,273.2362L361.52094,275.9443L344.48676,289.845L337.9845,301.0014L328.73264,304.24185L326.37204,301.53375L324.33398,309.1307L323.7756,318.68094L322.16492,321.65173L325.10706,329.29898L327.35883,340.01355L331.5992,344.2151L331.43997,350.6799L379.047,390.56454L398.6595,406.99524L411.5601,405.8369Z" />
                    }
                    break;

                case 11:
                    {
                        <path d="M490.69348,664.03815C516.87976,656.77026 543.07007,644.6267 566.6588,627.8337L566.9925,606.35815L565.79407,604.427L558.9592,604.8587L548.1964,602.6981L543.58813,595.75024L540.9292,584.1098L531.9908,574.32104L517.8272,567.6208L502.03784,552.43994L480.35403,524.8036L474.66016,543.05475L468.0612,550.39606L472.22098,565.00726L485.31613,582.0478L480.54352,591.9211L481.3398,600.07355L489.02734,613.4932L490.53522,629.2567L486.8986,639.61804L487.01956,658.2979L490.69348,664.03815Z" />
                    }
                    break;

                case 29:
                    {
                        <path d="M302.80237,217.75816C268.65335,237.29443 238.47365,266.31555 217.58812,300.02325L226.91861,309.68622L231.65392,309.9881L233.53676,312.07928L253.61995,294.04752L262.68637,298.4272L272.8716,287.2748L282.60123,258.50525L290.8311,245.7065L300.83487,239.64526L309.04355,228.55226L302.80237,217.75816Z" />
                    }
                    break;

                case 37:
                    {
                        <path d="M311.79922,470.17892L300.45587,464.1519L288.99158,464.94186L280.9563,462.106L271.21655,464.29376L249.26163,465.8939L232.41995,470.17892L213.20457,469.27725L190.80412,465.77213L183.80399,468.29803C186.19078,482.93338 190.0008,497.80322 195.358,512.49286L248.8252,493.06332L259.96188,493.99014L266.36334,499.91858L271.92615,499.65692L282.90967,505.60043L292.08493,507.85162L296.43823,497.17627L312.24072,479.97675L312.5814,472.81354L311.79922,470.17892Z" />
                    }
                    break;

                case 33:
                    {
                        <path d="M184.15474,387.7045L195.5747,395.70297L223.7315,396.60364L238.73672,401.00543L257.67487,400.20538L285.33075,394.65234L303.99274,396.8281L310.40628,400.98026L328.31735,397.50333L328.16214,393.86438L263.13892,370.23526L253.45262,375.15332L242.10324,375.98755L238.36075,372.1272L230.90703,368.5144L228.21686,366.72412L213.52713,371.38654L202.48616,372.34357L197.56842,367.03308L189.06644,365.45914C187.05762,372.88803 185.42677,380.3199 184.15474,387.7045Z" />
                    }
                    break;

                case 39:
                    {
                        <path d="M378.88672,445.79907L369.19638,449.3213L355.8825,486.93866L356.64655,506.5293L367.55444,528.36005L407.83478,458.70248L400.5423,459.7179L392.42133,456.3275L385.9776,450.11734L382.4891,449.88184L378.88672,445.79907Z" />
                    }
                    break;

                case 41:
                    {
                        <path d="M336.86673,502.87018L329.6297,535.7809L319.5896,547.217L321.52185,577.9016L326.236,585.52576L322.59125,606.11566L338.3494,605.5742L352.12894,592.77045L353.50375,581.449L360.75793,571.99536L363.12558,556.78436L361.4453,551.14276L367.98688,546.14124L364.56088,542.9783L363.22134,535.8533L367.55444,528.36005L356.64655,506.5293L355.8825,486.93866L336.86673,502.87018Z" />
                    }
                    break;

                case 9:
                    {
                        <path d="M403.42505,672.07385L403.59637,655.2618L408.12302,648.4468L403.5248,634.6034L403.9562,613.299L410.85355,605.1727L389.1264,604.89294L372.17386,597.1924L361.4453,598.29834L352.12894,592.77045L338.3494,605.5742L322.59125,606.11566L302.80237,640.3376C334.89822,658.91174 370.1862,669.20575 403.42505,672.07385Z" />
                    }
                    break;

                case 10:
                    {
                        <path d="M480.54352,591.9211L469.15884,593.0281L455.11823,599.68506L445.20316,599.9226L421.73325,605.31256L410.85355,605.1727L403.9562,613.299L403.5248,634.6034L408.12302,648.4468L403.59637,655.2618L403.42505,672.07385C412.1306,672.84375 420.7112,673.1315 429.1033,672.9896C448.9527,672.66254 469.81198,669.8649 490.69348,664.03815L487.01956,658.2979L486.8986,639.61804L490.53522,629.2567L489.02734,613.4932L481.3398,600.07355L480.54352,591.9211Z" />
                    }
                    break;

                case 7:
                    {
                        <path d="M367.55444,528.36005L363.22134,535.8533L364.56088,542.9783L377.27502,554.71936L407.59085,557.65485L412.37152,554.19403L423.89426,554.0672L449.9616,570.4838L458.16223,565.1743L468.0612,550.39606L474.66016,543.05475L480.35403,524.8036L445.03583,463.7262L432.65326,472.47842L417.4122,471.91486L412.3735,466.82474L407.83478,458.70248L367.55444,528.36005Z" />
                    }
                    break;

                case 12:
                    {
                        <path d="M465.79535,499.62573L469.61243,487.64212L469.2687,475.48135L471.82687,475.4049L475.26294,478.07373L484.11667,478.589L489.0082,459.89L478.318,454.7435L463.44586,461.2717L449.78018,449.82248L445.51056,455.1531L445.03583,463.7262L465.79535,499.62573Z" />
                    }
                    break;

                case 35:
                    {
                        <path d="M355.8825,486.93866L369.19638,449.3213L378.88672,445.79907L377.2569,443.95242L379.75455,429.0484L387.05408,415.2644L398.6595,406.99524L379.047,390.56454L363.45718,406.6903L360.257,418.30258L348.89648,429.0484L346.25668,439.5748L346.1055,457.71225L336.86673,502.87018L355.8825,486.93866Z" />
                    }
                    break;

                case 15:
                    {
                        <path d="M489.0082,459.89L494.21826,459.40897L501.17606,465.29208L506.38208,484.55765L512.9699,494.66238L517.0027,494.7117L524.1671,480.53122L520.7694,463.85703L533.4583,429.0484L537.34393,412.8512L536.66754,391.21664L530.4304,378.0858L530.39417,362.51154L523.36884,365.67548L520.16156,369.86896L516.22864,371.77496L512.86914,378.71277L506.53125,378.33136L493.5117,383.0964L490.2661,387.25162L477.6568,393.78888L486.569,406.66815L487.44287,429.0484L485.38065,431.71924L485.41895,437.6275L478.318,454.7435L489.0082,459.89Z" />
                    }
                    break;

                case 18:
                    {
                        <path d="M566.6588,627.8337C599.49756,604.76917 626.5769,572.3888 644.0717,537.1042C661.5654,501.81955 669.4748,463.6296 669.3447,429.0484L647.2215,429.0484L641.2525,437.45642L639.21136,446.5961L641.31396,451.90662L640.23145,453.8831L642.14954,460.33682L641.37646,474.1691L637.10785,482.81564L628.13916,508.50577L624.6094,520.6906L624.7636,533.16534L616.10736,548.6672L596.6491,565.9542L585.35114,573.80676L578.5354,581.51544L576.89655,592.16864L572.2882,598.7451L571.1129,602.14154L565.79407,604.427L566.9925,606.35815L566.6588,627.8337Z" />
                    }
                    break;

                case 34:
                    {
                        <path d="M328.16214,393.86438L328.31735,397.50333L310.40628,400.98026L303.99274,396.8281L285.33075,394.65234L257.67487,400.20538L238.73672,401.00543L223.7315,396.60364L195.5747,395.70297L184.15474,387.7045C181.73367,401.75717 180.6199,415.63174 180.62091,429.0484L348.89648,429.0484L360.257,418.30258L363.45718,406.6903L328.16214,393.86438Z" />
                    }
                    break;

                case 24:
                    {
                        <path d="M594.3006,287.19733L594.15643,291.41693L584.8784,308.76135L575.9118,316.00812L578.477,324.70297L582.12573,327.6053L594.21796,327.04977L599.22845,332.45288L614.1661,328.0068L620.9072,332.05133L629.90704,325.6288L633.4016,327.3275L636.37103,325.10452L645.94543,324.865C637.17535,306.30185 625.8038,288.42508 612.1754,272.22284L594.3006,287.19733Z" />
                    }
                    break;

                case 21:
                    {
                        <path d="M563.95557,285.08902L569.211,278.1442L569.0114,268.73984L559.99335,269.69083L549.923,275.59308L542.432,276.86914L533.5148,281.32022L528.4287,280.6842L523.638,289.0188L522.92633,293.34207L519.6243,293.5363L519.1234,296.45874L511.93076,300.76492L512.0497,304.08084L499.82138,312.7888L490.2661,338.93277L494.88654,338.07635L529.01935,318.368L535.7776,317.7199L552.3098,305.14053L552.69183,299.6509L563.95557,285.08902Z" />
                    }
                    break;

                case 19:
                    {
                        <path d="M528.4287,280.6842L533.5148,281.32022L542.432,276.86914L549.923,275.59308L559.99335,269.69083L569.0114,268.73984L573.3415,260.30963L587.878,247.18684C579.2329,239.46713 570.0486,232.3774 560.4711,226.00821L548.96246,242.5808L538.2974,248.6209L538.3307,258.69647L533.8927,264.11163L531.6158,275.14023L528.4287,280.6842Z" />
                    }
                    break;

                case 1:
                    {
                        <path d="M490.2661,338.93277L499.82138,312.7888L498.33768,310.25684L500.28604,307.07675L499.1491,300.79108L505.6372,289.5713L499.17227,287.53143L492.18323,288.73602L488.28653,279.59534L474.7408,269.2823L473.84375,261.62494L480.70883,253.65869L486.74036,242.66632L487.79163,237.5098L485.19315,227.16551L486.2757,223.30516L480.98804,215.61765L475.11172,214.90717L464.2512,206.69937L450.5563,223.76907L441.64914,244.24126L436.91687,248.8111L441.60883,257.15878L441.51608,275.77826L431.6191,299.3681L427.6922,324.75024L430.3824,334.0751L430.15457,352.5185L432.28537,354.99008L431.7572,359.18353L431.87415,377.59875L433.3084,381.90793L430.208,399.46472L435.3767,404.60815L442.40005,404.84366L446.83096,403.00806L446.81787,397.98236L456.66946,388.64243L461.40378,379.34174L477.39874,361.17712L475.87173,357.74646L486.86835,339.5627L490.2661,338.93277Z" />
                    }
                    break;

                case 27:
                    {
                        <path d="M464.2512,206.69937L449.0706,202.98293L434.6591,205.79266L430.08203,210.64023L410.3506,209.46683L387.0964,214.52374L367.30753,222.30081L366.04758,226.06557L365.52246,236.68257L363.41785,237.45343L355.9561,253.0589L353.6066,253.24005L351.60077,257.99805L346.17706,261.70746L343.15326,266.0227L338.6659,268.23767L336.64798,276.28845L329.80713,287.17517L324.8934,297.77505L326.37204,301.53375L328.73264,304.24185L337.9845,301.0014L344.48676,289.845L361.52094,275.9443L377.03616,273.2362L381.2604,275.79636L396.62546,268.47818L394.36365,255.6734L413.22626,250.41722L421.34317,245.76486L436.91687,248.8111L441.64914,244.24126L450.5563,223.76907Z" />
                    }
                    break;

                case 25:
                    {
                        <path d="M464.2512,206.69937L475.11172,214.90717L480.98804,215.61765L486.2757,223.30516L502.50354,222.73557L515.1793,226.71266L527.8048,241.16888L528.0699,250.77852L531.2792,250.77852L534.94403,247.12848L538.2974,248.6209L548.96246,242.5808L560.4711,226.00821C525.3172,202.49484 485.03995,189.43846 447.3924,186.10039L447.3591,195.37189L441.86484,204.38779L449.0706,202.98293L464.2512,206.69937Z" />
                    }
                    break;

                case 26:
                    {
                        <path d="M309.04355,228.55226L322.13968,232.89767L341.345,232.89767L351.1573,224.58725L367.30753,222.30081L387.0964,214.52374L410.3506,209.46683L430.08203,210.64023L434.6591,205.79266L441.86484,204.38779L447.3591,195.37189L447.3924,186.10039C438.3945,185.27217 429.52765,184.9602 420.8624,185.10612C382.87012,185.62238 340.7775,195.75029 302.80237,217.75816L309.04355,228.55226Z" />
                    }
                    break;

                case 36:
                    {
                        <path d="M183.80399,468.29803L190.80412,465.77213L213.20457,469.27725L232.41995,470.17892L249.26163,465.8939L271.21655,464.29376L280.9563,462.106L288.99158,464.94186L300.45587,464.1519L311.79922,470.17892L312.05527,456.26312L313.76474,454.74554L314.46826,452.3112L324.79764,447.49374L327.1169,441.3802L346.25668,439.5748L348.89648,429.0484L180.62091,429.0484L180.65517,433.16232C180.8487,444.60553 181.85664,456.37482 183.80399,468.29803Z" />
                    }
                    break;

                case 17:
                    {
                        <path d="M669.3105,424.9334C668.96277,403.8544 665.8089,381.62613 659.1928,359.45523L643.54047,376.1637L642.6747,380.2394L633.79877,386.9095L629.9948,397.0988L632.3453,409.82007L641.49945,421.3991L647.7779,421.30655L647.2215,429.0484L669.3447,429.0484L669.3105,424.9334Z" />
                    }
                    break;

                case 22:
                    {
                        <path d="M563.95557,285.08902L580.7932,282.53488L594.3006,287.19733L612.1754,272.22284C604.70355,263.3317 596.56445,254.94177 587.878,247.18684L573.3415,260.30963L569.0114,268.73984L569.211,278.1442L563.95557,285.08902Z" />
                    }
                    break;
            }

        </g>
    </g>

</svg>

@code {

    [Parameter]
    public Treachery.Shared.Territory ToShow { get; set; }

    [Parameter]
    public Treachery.Shared.Location SpecificLocation { get; set; } = null;

    [Parameter]
    public string FillColor { get; set; }

    [Parameter]
    public float FillOpacity { get; set; } = 1f;

    [Parameter]
    public string FillRule { get; set; } = "";

    [Parameter]
    public string StrokeColor { get; set; } = "black";

    [Parameter]
    public float StrokeWidth { get; set; } = 1f;

    [Parameter]
    public string StrokeLinecap { get; set; } = "round";

    [Parameter]
    public string StrokeLinejoin { get; set; } = "round";

    [Parameter]
    public string PopoverText { get; set; } = "";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private float Angle => 360f / Map.NUMBER_OF_SECTORS;

    private float StartX(int sector) => (float)Math.Cos(2f * Math.PI * (6 - sector) / Map.NUMBER_OF_SECTORS) * Skin.Current.PlanetRadius + Skin.Current.PlanetCenter.X;
    private float StartY(int sector) => (float)Math.Sin(2f * Math.PI * (6 - sector) / Map.NUMBER_OF_SECTORS) * Skin.Current.PlanetRadius + Skin.Current.PlanetCenter.Y;
    private float EndX(int sector) => (float)Math.Cos(2f * Math.PI * (5 - sector) / Map.NUMBER_OF_SECTORS) * Skin.Current.PlanetRadius + Skin.Current.PlanetCenter.X;
    private float EndY(int sector) => (float)Math.Sin(2f * Math.PI * (5 - sector) / Map.NUMBER_OF_SECTORS) * Skin.Current.PlanetRadius + Skin.Current.PlanetCenter.Y;

    private float ScaleX = 563f / Skin.Current.MapDimensions.X;

    private float ScaleY = 626f / Skin.Current.MapDimensions.Y;

    private string ClipId => "clip" + Id;

    private string Title => SpecificLocation != null ? SpecificLocation.ToString() : ToShow.ToString();
}
