<div class="row ml-0 mt-2 mb-1 mr-0 @Alignment">

    @if (Other.HasDelegate)
    {
        <button class="btn btn-primary mr-1" @onclick="Other" disabled=@Disabled>@OtherText</button>
    }

    @if (Pass.HasDelegate)
    {
        <button class="btn btn-primary mr-1" @onclick="Pass" disabled=@Disabled>@PassText</button>
    }

    @if (Confirm.HasDelegate)
    {
        <button class="btn btn-primary" @onclick="Confirm" disabled=@(Disabled || ConfirmError != "" || _waitForTimeout)>@ConfirmText</button>
    }

</div>

<div class="row ml-0 mt-0 mb-1 mr-0 text-danger @Alignment"><span class="bg-dark">@ConfirmError</span></div>

@code {

    [Parameter]
    public EventCallback Confirm { get; set; }

    [Parameter]
    public string ConfirmText { get; set; } = "Confirm";

    [Parameter]
    public string ConfirmError { get; set; } = "";

    [Parameter]
    public EventCallback Pass { get; set; }

    [Parameter]
    public string PassText { get; set; } = "Pass";

    [Parameter]
    public EventCallback Other { get; set; }

    [Parameter]
    public string OtherText { get; set; } = "Other";

    [Parameter]
    public string Alignment { get; set; } = "justify-content-end";

    [Parameter]
    public bool Disabled { get; set; } = false;

    private bool _waitForTimeout = false;
    private int _timeout = 0;
    [Parameter]
    public int Timeout { 

        get
        {
            return _timeout;
        }

        set
        {
            _waitForTimeout = value > 0;

            if (_timeout != value)
            {
                _timeout = value;

                if (_timeout > 0)
                {
                    Task.Delay(_timeout).ContinueWith(e => EnableAfterTimeout());
                }

                StateHasChanged();
            }
        }
    }

    private void EnableAfterTimeout()
    {
        _waitForTimeout = false;
        StateHasChanged();
    }
}
