@*
 * Copyright (C) 2020-2024 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

<div class="mt-2 @Alignment">

    @if (Other.HasDelegate)
    {
        <button class="btn btn-primary me-1" @onclick="Other" disabled=@Disabled>@OtherText</button>
    }

    @if (Pass.HasDelegate)
    {
        <button class="btn btn-primary me-1" @onclick="Pass" disabled=@Disabled>@PassText</button>
    }

    @if (Confirm.HasDelegate)
    {
        if (ConfirmError != null)
        {
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-delay="0" title=@ConfirmError.ToString(Skin.Current)>
                <button class="btn btn-primary" disabled=@true>@ConfirmText</button>
            </span>
        }
        else
        {
            <button class="btn btn-primary" @onclick="Confirm" disabled=@Disabled>@ConfirmText</button>
        }
        
    }

</div>


@code {

    [Parameter]
    public EventCallback Confirm { get; set; }

    [Parameter]
    public string ConfirmText { get; set; } = "Confirm";

    [Parameter]
    public Message ConfirmError { get; set; } = null;

    [Parameter]
    public EventCallback Pass { get; set; }

    [Parameter]
    public string PassText { get; set; } = "Pass";

    [Parameter]
    public EventCallback Other { get; set; }

    [Parameter]
    public string OtherText { get; set; } = "Other";

    [Parameter]
    public string Alignment { get; set; } = "text-end";

    [Parameter]
    public bool Disabled { get; set; } = false;
}
