@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

<button class="btn @Class @SizeClass @MarginClass @PaddingClass" @onclick="@HandleClick" disabled="@Disabled" title="@Title">@ChildContent</button>

@code 
{
    [Parameter] public EventCallback OnClick { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    
    [Parameter] public string Class { get; set; } = "btn-primary";
    
    [Parameter] public bool Small { get; set; }

    [Parameter] public bool Enabled { get; set; } = true;

    [Parameter] public string MarginClass { get; set; } = "me-1";
    
    [Parameter] public string PaddingClass { get; set; } = "";
    
    [Parameter] public string Title { get; set; } = string.Empty;
    
    private string SizeClass => Small ? "btn-sm" : string.Empty;

    private bool Disabled => !Enabled || _busy;

    private bool _busy;

    private async Task HandleClick()
    {
        _busy = true;
        StateHasChanged();
        await OnClick.InvokeAsync();
        _busy = false;
        StateHasChanged();
    }
}