<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using Treachery.Shared;
@using System.Collections;
@using System.Linq;

@for (int elementnr = 0; elementnr < Expression.Elements.Length; elementnr++)
{
    var part = Expression.Elements[elementnr];

    if (part == null)
    {
        <span class="fw-bold">none</span>
    }
    else if (part is string)
    {
        <span>@part</span>
    }
    else if (part is IEnumerable e)
    {
        var elts = new List<Expression>();
        foreach (var elt in e)
        {
            elts.Add(new Expression(elt));
        }

        for (int i = 0; i < elts.Count; i++)
        {
            <ExpressionComponent Expression=elts[i] Size=@Size/>
        }
    }
    else if (part is MessagePart mp)
    {
        <ExpressionComponent Expression=mp.Expression Size=@Size/>
    }
    else if (part is int || part is float || part is double)
    {
        <SimpleNumberComponent Size=@Size>@part</SimpleNumberComponent>
    }
    else if (part is Payment payment)
    {
        <TextBeforeImage ImageURL="@Skin.Current.Harvester_URL" Size=@Size Title="@Skin.Current.Describe(Concept.Resource)">@payment.Amount</TextBeforeImage>
        @if (payment.By != Faction.None)
        {
            <span> by <FactionComponent Faction=payment.By Diameter=@Size/></span>    
        }
    }
    else if (part is Faction faction)
    {
        <FactionComponent Faction=faction Diameter=@Size/>
    }
    else if (part is TreacheryCard tc)
    {
        <span class="fw-bold" data-bs-animation="true" data-bs-content="@Support.GetTreacheryCardHoverHTML(tc)" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover">@Skin.Current.Describe(tc)</span>
    }
    else if (part is LeaderSkill skill)
    {
        <span class="fw-bold" data-bs-animation="true" data-bs-content="@Support.GetSkillCardHoverHTML(skill)" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover">@Skin.Current.Describe(skill)</span>
    }
    else if (part is IHero hero)
    {
        <span class="fw-bold" style="@Support.TextBorder(1, Skin.Current.FactionColor[hero.Faction])" data-bs-content="@Support.GetHeroHoverHTML(hero, Game)" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover">@Skin.Current.Describe(hero)</span>
    }
    else if (part is Concept monster && monster == Concept.Monster)
    {
        <img src=@Skin.Current.Monster_URL width=@Size height=@Size title=@Skin.Current.Describe(Concept.Monster)/>
    }
    else if (part is TechToken tt)
    {
        <img src=@Skin.Current.GetImageURL(tt) width=@Size height=@Size data-bs-animation="true" data-bs-content="@Support.GetTechTokenHTML(tt)" data-bs-html="true" data-bs-trigger="hover" data-bs-toggle="popover"/>
    }
    else if (part is FactionForce ff)
    {
        <img src=@Skin.Current.GetImageURL(ff) title=@Skin.Current.Describe(ff) width=@Size height=@Size />
    }
    else if (part is FactionSpecialForce fsf)
    {
        <img src=@Skin.Current.GetImageURL(fsf) title=@Skin.Current.Describe(fsf) width=@Size height=@Size/>
    }
    else if (part is Location || part is Territory || part is AuctionType || part is BrownEconomicsStatus || part is TreacheryCardType || part is StrongholdAdvantage || part is FactionAdvantage || part is Ruleset || part is Rule)
    {
        <span class="fw-bold">@Skin.Current.Describe(part)</span>
    }
    else
    {
        <span>@Skin.Current.Describe(part)</span>
    }
}

@code {

    [Parameter]
    public Game Game { get; set; }

    [Parameter]
    public Expression Expression { get; set; }

    [Parameter]
    public int Size { get; set; } = 14;
}
