<!--
 * Copyright 2020-2022 Ronald Ossendrijver. All rights reserved.
--->

@using System.Collections.Generic;
@using Treachery.Shared;

<SelectFromImageComponent @bind-Value="Value" Values="@Values" Selected="@Selected" 
                          ImageURLs="Values.Select(f => Skin.Current.GetImageURL(f))" ImageWidth="40" 
                          Required="@(Selected == null)" Disabled="@Disabled" OnChanged="@OnChanged" PopupHTMLs="@FactionTooltips">
    <Label>@Label</Label>
</SelectFromImageComponent>

@code {

    [Parameter]
    public IEnumerable<Faction> Values { get; set; }

    [Parameter]
    public List<Faction> Selected { get; set; } = null;

    private Faction _value;

    [Parameter]
    public Faction Value
    {
        get
        {
            return _value;
        }
        set
        {
            if (_value != value)
            {
                _value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<Faction> ValueChanged { get; set; }

    [Parameter]
    public RenderFragment Label { get; set; }

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public Action<Faction> OnChanged { get; set; }

    private IEnumerable<string> FactionTooltips => Values.Select(f => Skin.Current.Format("<div class='text-white bg-dark'>{0}</div>", f));
}

