@*
 * Copyright (C) 2020-2025 Ronald Ossendrijver (admin@treachery.online)
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This
 * program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have
 * received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*@

<div style="position: relative; display: inline;">

    <img src="@ImageURL" width="@Size" height="@Size" title="@Title"/>
    <div style="color: white; width: @SizePx; height: @SizePx; text-align:center; font-weight: bold; position: absolute; top: -2px; left: 0px; white-space: nowrap; @TextBorder">
        @ChildContent
    </div>

</div>

@code {

    [Parameter]
    public string ImageURL { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Size { get; set; } = 14;

    [Parameter]
    public string TextBorder { get; set; } = Support.TextBorder(1, "black");

    private string SizePx => "" + Size + "px";
}
